
<h1>Booking Update</h1>
<section class="custom-select">
        <label class="scheduleLabel" for="clientList">Client</label>
        <select class="clientList" name="" id="updateBookingClientList"></select>
</section>
<section id="updateBookingsRoot">

</section>