
<div>
        <h1>Booking Update</h1>
        <section class="custom-select">
                <label class="scheduleLabel" for="clientList">Client</label>
                <select class="clientList" name="" id="updateBookingClientList"></select>
                <div>
                <button id="updateBookingButton" class="button blueBtn"><i class="fas fa-redo blueIcon"></i></button>
                </div>
        </section>
        <section id="updateBookingsRoot">

        

        </section>
</div>