<div>
    <section>
        <p id="scheduleMessage" class="flexRow justifyCenter orangeBorder linkButtonPadding classPack">Something Went Wrong - Could not Book</p>
    </section>
    <section>
        <label for="clientList">Client</label>
        <select name="" id="clientList">

        </select>
    </section>
    <section>
        <label class="scheduleLabel">Location</label>
        <div class="dropdown">
        <button id="displayLocation" value="1" class="dropbtn">Lesson</button>
        <div id="location" class="dropdown-content">
            <a value="1" onclick="changeLocation(event)">Lesson</a>
            <a value="2" onclick="changeLocation(event)">Rehearsal</a>
            <a value="3" onclick="changeLocation(event)">Recording</a>
        </div>
        </div>
    </section>
    <section class="flexRow justifyCenter">
        <label class="scheduleLabel">Start</label>
        <input class="date" type="date" id="fromDate" onchange="onDateChanged(event)">
        
        <div class="dropdown">
        <button id="displayFromHour" class="dropbtn">Hour</button>
        <div id="fromHour" class="dropdown-content">
            <a onclick="changeHour(event)">1</a>
            <a onclick="changeHour(event)">2</a>
            <a onclick="changeHour(event)">3</a>
            <a onclick="changeHour(event)">4</a>
            <a onclick="changeHour(event)">5</a>
            <a onclick="changeHour(event)">6</a>
            <a onclick="changeHour(event)">7</a>
            <a onclick="changeHour(event)">8</a>
            <a onclick="changeHour(event)">9</a>
            <a onclick="changeHour(event)">10</a>
            <a onclick="changeHour(event)">11</a>
            <a onclick="changeHour(event)">12</a>
        </div>
        </div>
        <div class="dropdown">
        <button id="displayFromMinute" class="dropbtn">00</button>
        <div id="fromMinute" class="dropdown-content">
            <a onclick="changeMinute(event)">00</a>
            <a onclick="changeMinute(event)">15</a>
            <a onclick="changeMinute(event)">30</a>
            <a onclick="changeMinute(event)">45</a>
        </div>
        </div>
        <div class="dropdown">
        <button id="displayFromAmPm" class="dropbtn">PM</button>
        <div id="fromAmPm" class="dropdown-content">
            <a onclick="changeAmPm(event)">AM</a>
            <a onclick="changeAmPm(event)">PM</a>
        </div>
        </div> 
    </section>
            <section class="flexRow justifyCenter">
        <label class="scheduleLabel">End</label>
        <input class="date" type="date" id="toDate" onchange="onDateChanged(event)">
        
        <div class="dropdown">
        <button id="displayToHour" class="dropbtn">Hour</button>
        <div id="toHour" class="dropdown-content">
            <a onclick="changeHour(event)">1</a>
            <a onclick="changeHour(event)">2</a>
            <a onclick="changeHour(event)">3</a>
            <a onclick="changeHour(event)">4</a>
            <a onclick="changeHour(event)">5</a>
            <a onclick="changeHour(event)">6</a>
            <a onclick="changeHour(event)">7</a>
            <a onclick="changeHour(event)">8</a>
            <a onclick="changeHour(event)">9</a>
            <a onclick="changeHour(event)">10</a>
            <a onclick="changeHour(event)">11</a>
            <a onclick="changeHour(event)">12</a>
        </div>
        </div>
        <div class="dropdown">
        <button id="displayToMinute" class="dropbtn">00</button>
        <div id="ToMinute" class="dropdown-content">
            <a onclick="changeMinute(event)">00</a>
            <a onclick="changeMinute(event)">15</a>
            <a onclick="changeMinute(event)">30</a>
            <a onclick="changeMinute(event)">45</a>
        </div>
        </div>
        <div class="dropdown">
        <button id="displayToAmPm" class="dropbtn">PM</button>
        <div id="toAmPm" class="dropdown-content">
            <a onclick="changeAmPm(event)">AM</a>
            <a onclick="changeAmPm(event)">PM</a>
        </div>
        </div> 
    </section>
    <section class="flexRow justifyCenter">
        <button class="dropbtn" onclick="bookTime(event)">Book Time</button>
    </section>
<script src="timeInput.js"></script>
<script src="clientList.js"></script>
</div> 