        <footer>
            <div id="footerLogoContainer">
                <a href="#top" class="textToUpper">Back to Top</a>
                <div id="footerLogo">
                    <i class="fas fa-tree"></i>
                    <a href="/">{{ pageTitle}}</a>
                </div>
                <div>
                    <a href="/contact" class="textToUpper contactButton">Contact Us</a>
                </div>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/services">Services</a>
                <a href="/contact">Contact</a>
            </nav>
            <div id="copyright">
                <h3 class="darkgreentext textCenter">Website Design by B Johnson</h3>
                <p class="darkgreentext textCenter">&#169;{{ getCurrentYear }} {{ company}} - Alpine, OR</p>
            </div>
            <img width="100%" src="footer-grass.jpg">
        </footer>