        <footer>
            <nav>
                <div>
                    <a id="historyLink" href="/">Home</a>
                    <a id="lessonsLink" href="/lessons">Lessons</a>
                    <a id="recordingLink" href="/recording">Recording</a>
                </div>
                <div>
                    <a id="backTopLink" href="#top" class="textToUpper">Back to Top</a>
                    <a id="rehearsalLink" href="/rehearsal">Rehearsal</a>
                    <a id="productsLink" href="/products">Products</a>
                </div>
                <div>
                    <a id="ownerLink" href="/owner">Owner</a>
                    <a id="historyLink" href="/history">History</a>
                    <a id="lessonsLink" href="/contact">Contact Us</a>
                </div>
            </nav>

            <div id="copyright">
                <h3 class="darkgreentext textCenter">Website Design by B Johnson</h3>
                <p class="darkgreentext textCenter">&#169;{{ getCurrentYear }} {{ company}} - Hermosa Beach, CA</p>
            </div>
        </footer>