<section>
    <nav id="mainNav">
    <a class="fs20" id="lessonsLink" href="/lessons">Lessons</a>
    <a class="fs20" id="recordingLink" href="/recording">Recording</a>
    <a class="fs20" id="rehearsalLink" href="/rehearsal">Rehearsal</a>
    <a class="fs20" href="/"><h2 id="superlead">Music Focus</h2></a>
    <a class="fs20" id="productsLink" href="/products">Products</a>
    <a class="fs20" id="ownerLink" href="/owner">Owner</a>
    <a class="fs20" id="historyLink" href="/history">History</a>
    </nav>
</section>