<section>
    <nav id="mainNav">
    <a id="lessonsLink" href="/lessons">Lessons</a>
    <a id="recordingLink" href="/recording">Recording</a>
    <a id="rehearsalLink" href="/rehearsal">Rehearsal</a>
    <a href="/"><h2 id="superlead">Music Focus</h2></a>
    <a id="productsLink" href="/products">Products</a>
    <a id="ownerLink" href="/owner">Owner</a>
    <a id="historyLink" href="/history">History</a>
    </nav>
</section>