<div>
        <h1>Orders</h1>
        <section class="custom-select">
                <label class="scheduleLabel" for="orderList">Shipping Status</label>
                <select class="orderList" name="" id="updateOrderList">
                    <option selected="selected" value="NotShipped">Not Shipped</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Canceled">Canceled</option>
                    <option value="Active">Active</option>
                    <option value="All">All</option>
                </select>
                <div>
                <button id="updateOrdersButton" class="button blueBtn"><i class="fas fa-redo blueIcon"></i></button>
                </div>
        </section>
        <section id="updateOrdersRoot">

        

        </section>
</div>