        <section class="flexRow justifyCenter width100Percent">
            <input class="date" type="date" name="" id="">
            
            <div class="dropdown">
            <button id="hour" class="dropbtn">Hour</button>
            <div class="dropdown-content">
                <a onclick="changeHour(event)">1</a>
                <a onclick="changeHour(event)">2</a>
                <a onclick="changeHour(event)">3</a>
                <a onclick="changeHour(event)">4</a>
                <a onclick="changeHour(event)">5</a>
                <a onclick="changeHour(event)">6</a>
                <a onclick="changeHour(event)">7</a>
                <a onclick="changeHour(event)">8</a>
                <a onclick="changeHour(event)">9</a>
                <a onclick="changeHour(event)">10</a>
                <a onclick="changeHour(event)">11</a>
                <a onclick="changeHour(event)">12</a>
            </div>
            </div>
            <div class="dropdown">
            <button id="AmPm" class="dropbtn">PM</button>
            <div class="dropdown-content">
                <a onclick="changeAmPm(event)">AM</a>
                <a onclick="changeAmPm(event)">PM</a>
            </div>
            </div> 
            <script src="timeInput.js"></script>
        </section>