<link rel="stylesheet" href="schedule.css">

<section id="scheduleRoot">
    <div class="week flexRow blueBG width100Percent">
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
        <div class="day"></div>
    </div>

</section>