<link rel="stylesheet" href="schedule.css">

<section id="scheduleRoot">
    <div class="week flexRow blueBG width100Percent">
        <div class="day">
            <h2 class="textCenter">Mon</h2>
        </div>
        <div class="day">
            <h2 class="textCenter">Tue</h2>
        </div>
        <div class="day">
            <h2 class="textCenter">Wed</h2>
        </div>
        <div class="day">
            <h2 class="textCenter">Thu</h2>
        </div>
        <div class="day">
            <h2 class="textCenter">Fri</h2>
        </div>
        <div class="day">
            <h2 class="textCenter">Sat</h2>
        </div>
        <div class="day">
            <h2 class="textCenter">Sun</h2>
        </div>

    </div>

</section>
<script src="/luxon.min.js"></script>
<script src="/schedule.js"></script>