<link rel="stylesheet" href="schedule.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="flexColumnCenter width100Percent prompt">
    <h1 id="lessonScheduleTitle">Lesson Schedule</h1>
    <div id="scheduleControls" class="flexRow justifyCenter alignCenter width80Percent">
        <i id="prevWeekIcon" class="fas fa-chevron-left blueIcon"></i>
        <h2 id="lessonScheduleSubTitle" class="scheduleSubTitle"></h2>
        <i id="nextWeekIcon" class="fas fa-chevron-right blueIcon"></i>
    </div>
    <button id="refreshButton" class="button blueBtn"><i class="fas fa-redo blueIcon"></i></button>
</div>

<section id="lessonScheduleRoot" class="width100Percent" data-schedule-type="1">
    <div class="weekLesson flexRow blueBG width100Percent prompt">
        <div class="dayLesson">
            <h2 class="textCenter">Mon</h2>
        </div>
        <div class="dayLesson">
            <h2 class="textCenter">Tue</h2>
        </div>
        <div class="dayLesson">
            <h2 class="textCenter">Wed</h2>
        </div>
        <div class="dayLesson">
            <h2 class="textCenter">Thu</h2>
        </div>
        <div class="dayLesson">
            <h2 class="textCenter">Fri</h2>
        </div>
        <div class="dayLesson">
            <h2 class="textCenter">Sat</h2>
        </div>
        <div class="dayLesson">
            <h2 class="textCenter">Sun</h2>
        </div>

    </div>

</section>
