<link rel="stylesheet" href="login.css">
<section>
        <fieldset>

            <legend>Create User</legend>
            
            <div class="formRow">
                <label for="viewName">Viewable Name</label>
                <input type="text" name="" id="viewName">
            </div>
            <div class="formRow">
                <label for="email">Email</label>
                <input type="text" name="" id="email">
            </div>
            <div class="formRow">
                <label for="password">Password</label>
                <input type="password" name="" id="pass">
            </div>
            <div class="formRow">
                <button class="button blueBtn" onclick="createUser()">Login</button>
            </div>
        </fieldset>

</section>
<script src="usercreate.js"></script>