<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
    
</head>
<body onload="">
    {{> header}}
    <main id="dashboardMain">

            {{>usercreate}}

            {{>booking}}

            {{>bookingUpdate}}

            {{>scheduleLesson}}

            {{>scheduleRehearsal}}
    
    </main>
    {{> footer}}
</body>
<script src="/dashboard.js"></script>
<script src="/luxon.min.js"></script>
<script src="/schedule.js"></script>
<script src="/bookingUpdate.js"></script>
</html>