<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="historyStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
  </head>
  <body>
    {{> header}}
    <main>
        <div class="fullWidthFlex">
            <div id="historyTitleContainer">
                <h1 id="historyTitle">History of Music Focus Studios</h1>
            </div>
        </div>
        <div  id="historyTextContainer">
        <section class="historySection">
            <div class="historyText">
                <p>The seeds of Music Focus™ (nee Music West) began in the mid 60's at a place in Manhattan Beach called "Gene Leis Guitars". Gene Leis was a jazz guitarist quite fond of the Brazilian and Latin and Jazz sounds. Gene was a great man and a certified legend in the South Bay. His "Django" license plate still evokes his memory. Well, about 20 different teachers taught for Gene during the 'hey day' of that little store front business on Sepulveda Blvd. It was across the street from Lucky's, and the car wash (there used to be a hamburger place there called "Clancey's"...). All the young kids would come to this new place that was really cool. You could just hang out, talk guitar, and maybe Gene would give you a lick to play or ask you to play some difficult scale. (He use to have me play my fastest slide-chromatic scale, I'd oblige to his fond smile!). It was our little hot bed of 'see and be seen!' After years of teaching in tiny little booths, some of the teachers got up the idea to teach 'off world'. What a novel idea. Well, Gene was all for it too. He helped out a little here and there and soon there was a new offshoot to Gene's called "Music West." Many people helped to build and maintain the new facility. Among the more notable 'pioneers' were Craig Welch, Brian Sisson, Pat & John Dietz, Brian Hartzler, Tammy, Paul Dewitt, Kelly Preach, Guy Stepp, Jim Coburn, Milford, and many others. Each one of these "South Bay supporters" has a vast story and deserves a small chapter each...</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>Music West, now 'off-world' from Gene's place, was located on Duncan Avenue in Manhattan Beach just across the street from the Manhattan Car Wash and Sketchers (coincidentally across the street from the new location of Dietz Bros Music, their 2nd location...). There was a strange old row of businesses in that little down-grade West of Sepulveda (remember only in Manhattan Beach is it called Sepulveda, everywhere else it's Pacific Coast Hwy). The early days of teaching at Music West were filled with easy going schedules and lots of sharing rooms, materials, songs, licks and laughs. After a settling in period the teaching squad finally reduced to a core group: Brian Hartzler, Pat & John Dietz, Tammy, Craig Welch and Paul Dewitt. About this time Craig unfortunately was diagnosed with Lymphatic cancer. Though hope and prayer were not spared, Craig, ultimately, succumbed to the malady in the late 70's. Karl Grossman had become a regular substitute teacher at Music West during Craig's various hospital stays. His involvement was doubly appreciated because he was able to teach 'rock' guitar at a slightly more 'reasonable' volume, something Mr. Dewitt was having a harder and harder time doing. Pat, John and ultimately Paul decided to part ways, at which time Karl became the headmaster 'rock' teacher at Music West.</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>Karl Grossman continued to refine and expand his teaching repertoire and student base to nearly 50 students a week. To this day he uses a proprietary notation system derived from the system Paul Dewitt developed in the early 70's. Through use of copiers and scanners, a set of masters was eventually assembled that is the ancestor of today's massive digital library of Music Focus'™ repertoire masters. Then, in 1986, what with the new "Apple Macintosh Computer", it was all filed and organized. The decendants of this vast repertoire are in use to this day, growing, being updated, refined on an almost daily basis. There are currently 64 coded deliniations as to the 'nature' of every master file, with song name and page number...We estimate around 17,000 pages of transcription, guitar theory, music theory worksheets, songsheets, diagram sheets, charts, notation-tab, picking worksheets, etc... A mighty task to finally scan and "name" the massive archive, well worth the 13 month it took to complete!</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>In the early 80's Karl became more and more interested in recording and the equipment involved in doing so. Karl also became involved in various rock groups in and around the South Bay. By happenstance one group was booked into a practice room on Valley Drive in Hermosa Beach. 673 Valley Drive was the home of Miles Christiansen's recording and rehearsal studios (Today it is Dennis Renick's fine studio). We used to rehearse in Miles' studio. But sometimes we would rehearse in the little unfinished studio next door at 671 which Miles also leased. Karl's first memory of the space was of sheer cacophony. There was no baffling at all and the rehearsal sound was deafening. All cement and brick walls!! Of course, that was all sound insulated later, walls built to seperate the rooms, glass put in to be able to see (4 panes of glass as of present from control room to perfroming room, now called the Abalone Lounge). Modern recording techniques are now used to record projects of many different sizes and styles. From early reel to reel recordings of Pennywise's desendant 'Con 800', War Called Peace, Fishsticks, Prop 13, Beat Around The Bush, Rhythm Track, Ted Falcon, Kashmir Quartet - to today's 'Echo Signal', 'Robert Deller Band', 'Camino Rio', 'Everett Dennis', and 'Idiot Box', Phil Friedl and Peter Evans, Mike Roberti and other fine talent can be heard having recorded at Music Focus.</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>As serendipity would have it, Miles had to drop the lease on the 'little' studio and offered Karl first choice. Of course he took it and the space became and remains to this day a landmark of local band's dreams and schemes, plans and jams. So there were actually 2 locations at this time; one used to teach out of, and one used to rehearse out of... But that was about to change...</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>In 1984 Music West had to leave the Duncan location and, just ahead of the bulldozers, Karl became director of both halves of the business at the Valley Drive location. The Dietz Bros had set up their own shop and Karl began in earnest to develop and maintain a full service teaching, recording and rehearsal facility.</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>During those late 80's it became clear that another party had already begun doing business in the northern part of the state as 'Music West.' Lesson learned, protect your 'name'...! Thus began a search for a new name that would be easy to remember and evoke a positive and forward looking image. After many, many 'how abouts...' Music Focus™ was decided upon, and trademarked. The "musicfocus.com" domain URL has been secured since 17-apr-1998. The US Trademark for Music Focus™ was registered 20-jul-1999.</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>Throughout our long history of people and their dreams we owe a great deal to the early motivators who began all this at Gene Leis Guitars through Music West and finally our present incarnation... Music Focus™. We thank and honor those givers and lovers of music and spirit. God Bless you all.</p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>As of 2016, the Music Focus™ name continues its service role in the community and as always keeps its 'eye on your future!' </p>
            </div>
        </section>
        <section class="historySection">
            <div class="historyText">
                <p>And we're always taking lesson, rehearsal, and recording bookings - (310) 999-9275.</p>
            </div>
        </section>
        </div>
    </main>
    {{> footer}}
  </body>
</html>