<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus</title>
    <link rel="stylesheet" href="recording.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
  </head>
  <body>
          {{> header}}
    <main>
        <div id="bookContainer">
            <p>TO BOOK - Talk/text (310) 999-9275 (that's - 310.ZZZZ.ASK) [We prefer texting, it's faster...], or </p>
            <img src="/musicfocus_emal.jpg" alt="">
        </div>

        <div id="lessonsNav" class="marginTop20px">
                <div id="signContainer">
                    <img id="karlEngineerPic" src="kfgrossman_engineer.JPG" alt="">
                </div>
                <ul>
                    <li><a href="#preparation">Preparation</a></li>
                    <li><a href="#setup">In-Studio Setup</a></li>
                    <li><a href="#post">Post Processing</a></li>
                    <li><a href="#equipment">Equipment List and Rates</a></li>
                    <li><a href="#reference">Quick Reference</a></li>
                </ul>
        </div>

        {{!-- <div id="loungeLeadContainer">
            <div>
                <div id="loungeLeadTitleContainer">
                    <h2 id="loungeLeadTitle"> Welcome to The "Abalone Lounge" / Music Focus™ rehearsal / training hall!</h2>
                </div>
                <div class="loungeSubLead">
                    <p>Thank you for choosing our facility to enhance and further your progress.</p> 
                </div>
                <div class="loungeSubLead1">
                    <p>We commit to bringing you a working, clean, private facility. </p> 
                </div>
            </div>
        </div> --}}
        <section id="preparation" class="marginTop20px">
            <section class="sectionTitleContainerSkew blueBG">
                <h1 class="sectionTitle">Preparation</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew blueBG width20Percent textCenter">
                    <h2>GUITARISTS</h2> 
                </section>
                <p>Get new strings on the instruments you will be playing on the recording. Check out all guitars, amps, pedals, speakers, and cords to make sure nothing is defective or noisy. </p> 
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG width20Percent textCenter">
                    <h2>DRUMMERS</h2> 
                </section>
                <p>Completely tune the kit and think very seriously about purchasing new drum heads for the session. All drum equipment should be listened to carefully for squeaks and rattles that will show up on tape.</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG width20Percent textCenter">
                    <h2>PRACTICE SCHEDULE</h2> 
                </section>
                <p>You should have at least 3 recording practices before you come in to record. For the sake of endurance try this: Run a tune 3 or 4 times in a row with about 30 seconds in between. If you really do this with all the tunes, you'll get a good idea of how it's going to feel in the studio on the big day. Get your endurance up before the day. Your sense of perfection is heightened while recording. If you've practiced endurance, you won't wimp out on the 4th take. </p> 
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG width20Percent textCenter">
                    <h2>CONCERNS</h2> 
                </section>
                <p>What songs are you recording? How many? Warn your drummer about fatigue if you plan on more than 3 or 4 songs. Whether you are tracking in layers or recording direct to Pro Tools or DAT, drums are the foundation for everything. Although it is the drummer's performance that matters first, everyone must do everything possible to get "the take." You must strive for perfection. </p> 
            </div>
        </section>

        <section id="setup" class="marginTop20px">
            <section class="sectionTitleContainerSkew orangeBG">
                <h1 class="sectionTitle">In-Studio Setup</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew orangeBG width20Percent textCenter">
                    <h2>SOUND CHECK</h2> 
                </section>
                <p>You will be recorded and then asked into the sound booth to hear your "levels". Everyone is always welcome to make suggestions on getting a better sound.</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG width20Percent textCenter">
                    <h2>STUDIO ENVIRONMENT FACTOR</h2> 
                </section>
                <p>"Tracking" a song is very different from rehearsal. "Tracking" is laying down the initial "bed" of the song. This might include ALL the instruments, or it might just be the structural "drums and bass" bed of the song that you plan to "overdub" onto... You are more likely to hear small mistakes when you hear a playback in a recording studio. You need to allow about 2 or 3 takes per song to get the original track acceptable. (Many professional bands use what is called a click track to help keep the track tempo even and perfect. If your drummer is very experienced at this by all means use a click track. If you do use a click, find out what your exact tempos are before you come in. We have the machines to make the click.) </p> 
                <p>Most bands end up NOT using a click track, which is what we actually recommend. You're not making a beer commercial, you're trying to be creative. That said, the tighter you are as a band, rhythmically, the better it will "endure" as a recording. You want your recording to have "legs". </p>
                <p>It's a great feeling to get a song right in "one take." It does happen. Strive for this - but don't be discouraged if it's not quite right the first time. Don't be afraid to ask questions and get your feet wet in the studio. We want to magnify your wishes and translate your spirit to tape. </p>
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG width20Percent textCenter">
                    <h2>HEADPHONES</h2> 
                </section>
                <p>Every professional recording studio uses what is called a 'headphone mix' to allow you to hear what is going on. This can be a little confusing at first. When a band tracks their music, usually the vocalist will be in a separate room from the drummer. The drummer hears everyone else only through these headphones. Bass and guitars are almost always tracked "direct" into the mixing console, or tracked at a slightly lesser volume than "show" volume. It's a little funny feeling at first not to have a guitar or bass amp pumping next to you. Your headphone station will have individual adjustments for each band member (with multiple drum "channels"), as well as for vocals.</p> 
                <p>Be patient with the process of getting a headphone mix. Everyone, including the engineer, wants it to sound just right. Your little "headphone" station will allow a LOT of flexibility. The individual controls of your headphone station are very small - and tiny adjustments go a long way. You also may have to bear with a slightly distorted headphone mix. To get a perfectly clean headphone mix loud enough to hear over a drum set is almost impossible. Normally you will be rewarded with a playback that sounds clean & killer. </p>
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG width20Percent textCenter">
                    <h2>SET UP</h2> 
                </section>
                <p>It takes up to an hour to get drums set up and microphones correctly placed, this includes testing and equalizing the sounds. During the testing process we always record the drummer playing alone for a minute or so. Then he can hear for himself what the kit sounds like. Once the microphones are set around the drum set, the drummer needs to play each drum for the engineer. </p> 
                <p>There needs to be a clean sounding drum mix going to tape. If a bass amp is anywhere in the room where a drum set is recorded, it will go onto all the microphones. This goes for guitar amps to a slightly lesser degree. If you know about this and are content to 'let it bleed,' we have no problem with that. That said, bass, guitars and vocals are usually creating "scratch tracks" the first pass through. This just means that these parts, though recorded as well as possible, are probably not going to be the final "keeper" parts for those instruments. The point is this: Your tracking session is really just to get acceptable drums onto tape. Focus on that objective. It's quite common for EVERYONE else to - have their day "in the sun" - to get their part onto the recording to the best of their abilities right now...</p>
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG width20Percent textCenter">
                    <h2>CHECKING THE DRUM MICROPHONES</h2> 
                </section>
                <p>It is important to know how an engineer needs to hear your drum set. Bass drum is usually first to get checked out. Play only the bass drum slowly and evenly. Always play with the actual strength that you really play. The tendency is to wimp out during sound check, then blow all the mics away during the first tune. Be honest with your hits. Next comes the snare. Again the hit must be the same strength as you plan on really using. Toms are next. Each tom is usually checked from smallest to largest. Watch the engineer through the glass to know when he wants the next sized tom to be hit. Usually at the end of the individual tom check the engineer would like to hear you do some tom fills. Step through your toms with your own style keeping in mind your normal strength of hitting. Next are the over-head mics. Use a basic drum beat with attention to more cymbal crashes and ride cymbal than perhaps is normal for you. Be sure to use cymbals that are placed on either side. Don't over hit your normal crash strength!</p> 
            </div>

            
            
        </section>

    </main>

    {{> footer}}
  </body>
</html>