<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus - {{pageTitle}}</title>
    <link rel="stylesheet" href="lessons.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
          {{> header}}
    <main>
        <div id="bookContainer">
            <p>TO BOOK - Talk/text (310) 999-9275 (that's - 310.ZZZZ.ASK) [We prefer texting, it's faster...], or </p>
            <img src="/musicfocus_emal.jpg" alt="">
        </div>

        <div id="lessonsNav" class="marginTop20px">
                <div id="signContainer">
                    <img id="karlPic" src="/kfgrossman_guitar.gif" alt="">
                </div>
                <ul>
                    <li><a href="#intro">Introduction</a></li>
                    <li><a href="/songlist">Song List</a></li>
                    <li><a href="#post">Lesson Schedule</a></li>
                    <li><a href="#policy">Lesson Policy</a></li>
                    <li><a href="#rates">Lesson Rates</a></li>
                    <li><a href="/owner">Karl's Biography</a></li>
                    <li><a href="#reference">List of Students</a></li>
                </ul>
        </div>

        <div id="lessonsLeadContainer">
            <div>
                <div id="lessonsLeadTitleContainer">
                    <h2 id="lessonsLeadTitle">Lessons </h2>
                </div>
                {{!-- <div class="lessonsSubLead">
                    <p>Music Focus has taken great pride in the teaching and gathering of information about music and specifically guitar and bass music.</p> 
                </div>
                <div class="lessonsSubLead1">
                    <p>However, it is and always will be the people to whom that care is given that gets the most attention and respect from our staff. </p> 
                </div> --}}
            </div>
        </div>
        <section id="intro" class="marginTop20px">
            <section class="sectionTitleContainerSkew blueBG">
                <h1 class="sectionTitle">Introduction</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew blueBG">
                    <h2>Hello!</h2> 
                </section>
                <p>I am so glad that you have shown an interest in taking lessons at Music Focus. We've been active in the South Bay for over 14 years. We pride ourselves on bringing you up to the minute exposure to the latest songs and physical techniques. At first, we encourage students to develop a repertoire of songs that are familiar and fun to play. Our song list, as of the first of this year, has over 5,000 songs. After a time, you may want to start studying the 'insides' of songs and music theory. You will need to supply a standard notebook binder.</p> 
                <p>So, plan on bringing your guitar, and:</p>
                <ul>
                    <li>Your notebook (3 ring binder)</li>
                    <li>Your picks from the Music Focus Songlist</li>
                    <li>The songs that you are learning.</li>
                </ul>
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG ">
                    <h2>SONG LIST!</h2> 
                </section>
                <p>After your first lesson we encourage you to visit the <a href="/songlist">Music Focus Songlist</a> and make note of which songs or bands best represent your interests. You can just write down a few or, "paste" the list and make your own computer document! This list will help 'power' your lessons.</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG">
                    <h2>LESSON POLICY</h2> 
                </section>
                <p>Go over the <a href="#policy">Music Focus Lesson Policy</a>. If you are a new student starting during the middle of a month, you will be responsible for bringing in partial payment at your first lesson. From then on you will be billed on a monthly basis. We do all billing business through the mail. The only contract you have with us is for a month at a time. Be sure that if you are not the "responsible person" to check with your parents about this.</p>
                <p>Thanks again for the interest! I'm looking forward to these lessons with you and to the exciting and challenging results that await. </p> 
                <p>If you have a question about your lesson plan or any specific point made during your lesson time, </p>
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG">
                    <h2 id="contact">CONTACT</h2> 
                </section>
                <p>Music Focus - (310) 379-4454</p> 
                <p>Fax - (310) 379-2925</p>
                <img src="/musicfocus_emal.jpg" alt="">
                <p>Online - <a href="http://www.musicfocus.com">musicfocus.com</a></p>
                <p>Mailing address is:<br>
                    Music Focus<br>
                    671 Valley Drive<br>
                    Hermosa Beach CA 90254-4626<br>
                </p>
            </div>
        </section>

        <section id="policy" class="flexColumnCenter marginTop20px">
            <section class="sectionTitleContainerSkew orangeBG">
                <h1 class="sectionTitle">Lesson Policy</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>AGREEMENT</h2> 
                </section>
                <p>2019 - Music Focus Academy Membership Policy Agreement.<br>
                (To be signed before or at first lesson.)</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>TERMS</h2> 
                </section>
                <p>WE strive to have a powerful connection here at the Academy.</p>
                <p>Your willingness to participate and get the benefits of this program can only happen with mutual agreement. Our mission is to provide you with the best possible learning, and enrichment programs possible. Your agreement is that our programs deserve the consistency and support required to make this excellence a reality.</p>
                <ul>
                    <li>New, easy, month to month Payment schedule.</li>
                    <li>Complete personal interaction and online training augmentation included.</li>
                    <li>New “presage” lessons help with missed appointments or vacation plans.</li>
                    <li>Special ‘elective’ classes to strengthen your drive</li>
                </ul>
                <ol>
                    <li>You agree to pay by the month until you decide to stop studying at Music Focus. Your current membership status must then be paid for in full, at least by the next month start. There is a $150 enrollment fee for all students ______. (unless waived____). This goes for “re-enrollment” as well. Lesson rates are always posted online and can only rise once a year, if at all (usually February).</li>
                    <li>The option to ‘skip’ all the rest of these numbered detail-points is available as well. Just pay once a month, come when you can, and that’s it. _____________________________</li>
                    <li>You agree to pay for at least 4 lessons every month. You can’t ‘miss’ or ‘skip’ classes. In months that have "5" of your regular weekdays, we'll both decide the best way to pay-for, or ‘presage’ that 5th lesson! (see item 5 on presage lessons). If we decide it best to pay, you would need to pay that extra lesson cost in the NEXT month's payment! We will stay in touch with you regarding extra amounts from extra lessons (beyond the required 4) or elective classes and workshops. ______. (see following items…)</li>
                    <li>Presage lesson system: We require you to ‘get ahead’ on your lesson card. We advise 4 presage lessons on your sig card (2 is minimum, 4 recommended, and 6 is allowed…). However, if you do have to ‘leave us’ permanently, for any reason (also see vacation allowance item #7…), you will be required to pay for the lessons you've taken, but haven’t already paid for______. You may make this payment at the regular start of the next month, or when you take your leave. Please be aware, a fee may be required to re-enroll with us again. We can offer a ‘continuance’ program, which is good for international students and very busy traveling-long-term students. This also entitles you to partake in the online portion of our program. (call for details.)</li>
                    <li>Presage lessons are simply extra sessions that you will have ‘taken-forward’ to ensure that if you DO need to miss an appointment that you have these ‘taken-ahead’ lessons already accounted for. As we stated (in item 3), you can’t "skip" or "cancel" lessons. With a buffer of presage sessions on your card, we keep a watch over your status relative to ‘current date’. If, for example, you take two weeks vacation, but had a 6 week ‘buffer’ of presage lessons, you’d still be 4 lessons ‘ahead’. We will advise you via email or text if you get to a point of only 2 lessons ‘ahead’. ______. HOW DO I “GET AHEAD” WITH THE “PRESAGE” PROGRAM? 1. Schedule a full extra lesson. - 2. Take an extra lesson before or after your regular appointment time (essentially a double lesson). - 3. Schedule an extra “1/2 lesson". - 4. Add an extra 1/2 lesson before or after your regular appointment. - 5. Take and use, as a lesson, an elective 'Student-Intensive’ session or any of the many workshops and master classes we offer.</li>
                    <li>If somehow your lesson card gets in ‘arrears’ we still offer you the chance to get back ‘even’ and then get ahead (as is our recommended policy). We have a 3 month allowance period if you DO get behind (there will be an ‘empty’ line on your sig card). If after 3 months you cannot seem to get the make-up lesson in, it will expire. ______.</li>
                    <li>We can offer a 2 week vacation from lessons (pay 1/2 month - we would only require 2 lessons that month.) You must let us know as far in advance as possible when that might be. ______.</li>
                    <li>REMEMBER, though you may miss an APPOINTMENT, you cannot cancel a LESSON! The items you agree to will make you a better and stronger participant in our drive toward excellence. Please call or email if you have any questions. PLEASE be willing to get ahead and stay in touch about missing an appointment FAR in advance. If you DO ‘no show’ for an appointed lesson, you agree to ‘sign-off’ on your missed lesson. ______. Our whole point is to get ahead of schedule so we have flexibility to get back on track, and stay on track!</li>
                    <li>LET US KNOW IF YOU CANNOT ATTEND AN APPOINTMENT. You still need to allow 4 day notice ‘protocol’ for legitimate NON-ATTENDANCE of a regular appointment (remember it is not a 'canceled' lesson). We commit to helping you stay informed about the current status of your tuition... YOU commit to staying AHEAD of the curve of upcoming possible appointment absences! _______.</li>
                    <li>Payments are due at the first of the month or first regular appointment. You may always pay for the months ‘ahead of time’, we will keep track of the payment on your sig card. ______. Currently we do not offer any sort of "refund" for lessons paid for, but not yet taken. However, your credit IS good for any other services Music Focus offers, including recording, rehearsal, even professional performance.</li>
                    <li>Music Focus reserves the right to end any student/teacher relationship at any time if serious problems with attitude, desire, and reasonable participation come into question. Though extremely rare, it is the case that if someone is not voluntarily and positively taking lessons, they probably shouldn't be. Please make sure that you or your person is as excited and respectful to the learning process as WE are... In the rare case of a problem, and we must let you 'go' - we WILL refund your remaining credit in the form of a check... </li>
                    <li>Remember, YOU might not see your progress as clearly as WE do, because you are YOU every day... It's similar to watching a 'cut' heal. You don't SEE it happening, but it is...!<br>Thank you!</li>
                </ol>

                <p>5/26/2018<br>
                Karl Grossman<br>
                Music Focus Academy Directior</p>
                <a href="#contact">CONTACT</a>
                <p>We want your lessons to be informative, innovative, challenging and fun. Let's keep the communications going both ways!</p>
            </div>
        </section>

        <section id="rates" class="flexColumnCenter marginTop20px">
            <section class="sectionTitleContainerSkew greenBG">
                <h1 class="sectionTitle">LESSON RATES</h1>
            </section>
            <div>
                <h2>Lesson rates are $43 per half-hour Lesson.</h2>
                <ul>
                   <li>$86 for a full-hour lesson</li>
                   <li>1 month of half hour lessons (4 lessons) = $172</li>
                   <li>1 month of 1 hour lessons (4 lessons) = $344</li>
                   <li>2 months of 1 hour lessons (8 lessons) = $688</li>
                   <li>4 months of 1 hour lessons (16 lessons) = $1345</li>
                   <li>6 months of 1 hour lessons (24 lessons) = $1820</li>
                </ul>
                <p>Lessons are to be paid - "one month in advance"</p>
                <p>You cannot 'skip' or cancel lessons. Cancelling an appointment is allowed, you have 3 months to get your lessons in before they expire.</p>
            </div>
            <div>
                <section class="subTitleContainerSkew blueBG">
                    <h2>SCHEDULING ROUTINE</h2> 
                </section>
                <div>
                    <ul>
                        <li>BE ON TIME for your appontment.</li>
                        <li>Please DON'T assume I'm running late.</li>
                        <li>Please be a 'little bit' flexible... I do, rarely, run a few minutes late...That means, sometimes, you might LEAVE a few minutes later than your actual scheduled end time... I always try to give you your full lesson time. In many cases I can give you a little extra time! </li>
                        <li>If YOU need to leave early, or "exactly", please tell me at the start of the lesson so we can finish up our session logically! Please don't come at, say, 4:57pm (for a 5pm lesson), knock on the door, and leave, give me a minute to show up, I run a pretty tight ship, but sometimes I have local errands to run... I won't forget about you!!!</li>
                        <li>I cannot promise you your full session time if you are late. Sometimes, I CAN offer you a few more minutes than scheduled, please, if possible, don't make plans too close to your lesson's "end time"... We will always ask if it's "ok" to go a few minutes more... IF YOUCAN STAY AN EXTRA 1/2HR OR EVEN AN HOUR WE CAN USE THAT TIME AS A 'PRESAGE' LESSON LET US KNOW... </li>
                        <li> If you "no show" (without 24 hours notice) for any reason, we will "sign off" on your "sig" card with the letter 'M' as in 'missed it', 'missed my lesson'.</li>
                        <li>Stay ahead of your lesson curve! (see Music Focus™ <a href="#policy">Academy Membership Policy Agreement</a> ) Watch the lesson DATES very carefully. Bookmark this page and check it often. Please check <a href="#holidays">Holidays</a> link. We will make the lessons up or possibly use one of YOUR "presage" lessons (see MFAMPA) BLANK slots - ____________ - are AVAILABLE for regular lessons.</li>
                        <li>If for ANY reason you would like to use an "alias" instead of your real name, PLEASE let me know...: example: "Mark Par" instead of "Tiger Woods"</li>
                    </ul>
                </div>
            </div>
            
        </section>
        <section id="holidays" class="flexColumnCenter marginTop20px">
            <section class="sectionTitleContainerSkew greenBG">
                <h1 class="sectionTitle">HOLIDAY SCHEDULE</h1>
            </section>
            <div>
                <h2>Please note: Music Focus™ Lesson classes will not meet on the following days:</h2>
                <ul>
                   <li>Jan. 1st, New Years Day</li>
                   <li>Memorial Day</li>
                   <li>4th of July</li>
                   <li>Labor Day</li>
                   <li>Thanksgiving</li>
                   <li>Dec. 24th (probably), Christmas Eve/day</li>
                   <li>Dec. 25th, Christmas Day</li>
                   <li>Dec. 31st (probably), New Years Eve/day</li>
                </ul>
                <p>IT IS IMPORTANT THAT YOU STAY AHEAD ON YOUR SIG-CARD so these do not disturb our regular lesson plan. We will be pro-active about re-scheduling or adding "CLASS-TIME" TO YOUR CURRICULUM.</p>
                <p>(rehearsals may still be booked though...)</p>
            </div>
            
        </section>


    </main>

    {{> footer}}
  </body>
</html>