<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
  </head>
  <body>
    {{> header}}
    <main>
        <div id="ownerTitleContainer">
            <h1 id="ownerTitle">About Karl</h1>
        </div>
        <section id="ownerMain">
            <div id="karlBioPic">
                <img src="kfgrossman_guitar.gif">
            </div>
            <div class="bioText">
                <p>Guitarist/composer Karl Grossman is available for session work, as producer and arranger, or as a composer. He takes influence from several styles and diciplines in his approach to musical arts. Playing music since early years starting on trumpet, Karl continues to push the envelope on repetoire and improvisational technique with his guitar. He is also able to satisfy an ever growing client list of professional musicians. Karl manages the Music Focus facility in Hermosa Beach, California.
                        "Jazz was my first love. I lived and breathed the jazz guitar tone. But I was always amused and intrigued by blues and distorted rock guitar. I'll always regret that I didn't accept and get into the finger style and classical guitar styles much earlier. But I love all styles of music the power of rock, the minimalism of new wave, the bravura of metal, soul of blues, harmonic challenge of classical and the ambiguousness and improvisational halo of jazz. Learning all you can about the different styles is the best way to grow. Every song I learn shows me or re-confirms some aspect of music theory or physical guitar ability."</p>
                <p>Karl's foray into Gypsy Rumba style nylon guitar arts has been an amazing voyage. Karl has written over 90 beautiful, challenging original pieces from soothing to broiling! Concert appearances at NAMM, San Juan Capistrano, Paradise CA, and numerous solo performances for events and private functions have furthur broadened his range. "I feel blessed to have found a really powerful style. The right hand coordination with the chords and melody, not to mention bass lines, all combine to make this style a truly awesome challenge." Karl has created a "YouTube" platform under his "guitarist karl grossman" name... Just search - guitarist karl grossman - in YouTube... Happy listening!</p>
            </div>
        </section>
        <section id="ownerEmailContainer">
            <div id="ownerEmailTag">
                    <h1 class="sectionTitleText">Email Address</h1>
            </div>
            <div>
                    <a id="mailAddress" href="mailto:mfocusi@earthlink.net?Subject=Hey%20Karl!"><p>mfocusi@earthlink.net</p></a>
            </div>
        </section>
        <section id="ownerSecondary">
                    <div class="bioText">
                        <p>Karl is an active guitar instructor and has taught literally hundreds of students in the South Bay. Former students are now in the bands Easter, Centerfold, and Phantom Blue. (Add your name to Karl's list if you want! Students)<br>
                                Though Karl attended UCSB, UCLA, and Dominguez Hills Universities, it was the work at El Camino with music theory professor Wallace Bower that bonded a fine understanding of music theory with ear training, composition, piano skills and advanced theory concepts...<br>
                                "Those years studying music theory were filled with revelations. I realized and was encouraged to explore the connection between emotional nature of sound and the technical names for it. I always encourage my students to seek their own definitions for actual sounds. Minor triads can be cold, dark, purple, sad, or scary while major triads can be bright, sunny, yellow, happy, hot or glowing. Theoretical musical definitions do not give any insight on what emotional response these musical elements may trigger in someone. But once there is a connection between the two, the bond is made!"
                                Karl offers a combination of talents to his students. One is to teach patiently and cohesively, and the other is to inspire students with the joy and humor of making good music.<br>
                                <span>Thanks for jammin'!</span><br>
                                BTW, this sketch was made in Pasadena at a club Karl played at in the late 80's. 'Thank you' to the unknown artist!</p>
                        
                    </div>
                    <div id="karlBioPic">
                            <img src="karlsketch.gif">
                    </div>
        </section>
        <div id="work">
            <section>
                <div id="ownerAlbumTag">
                    <h1 class="sectionTitleText">ALBUM/CD CREDIT</h1>
                </div>
                <div class="creditText">
                    <p>Mar De Vida - Music Focus Records, Karl Grossman Producer</p>
                    <p>Hola Mi Corazon - Music Focus Records, Karl Grossman Producer</p>
                    <p>Picture Tube - Music Focus Records, Karl Grossman Producer</p>
                    <p>Christmas Karl - Music Focus Records, Karl Grossman Producer </p>
                </div>
            </section>
            <section>
                    <div id="ownerSoundtrackTag">
                        <h1 class="sectionTitleText">SOUNDTRACK COMPOSITION</h1>
                    </div>
                    <div class="creditText">
                        <p>Desert Racer - Native Son Production, Gerard Ravel producer</p>
                        <p>Sierra at Tahoe Ski Resort Promotional Video - Seen, Heard &</p>
                        <p>Recognized Productions, Alan Scharf producer </p>
                    </div>
            </section>
        </div>
        <div id="work">
            <section>
                    <div id="ownerCreditsTag">
                        <h1 class="sectionTitleText">STUDIO CREDITS</h1>
                    </div>
                    <div class="creditText">
                        <p>Everett Dennis - Guitarist/Vocalist.</p>
                        <p>David Moore Project - Guitarist & music director.</p>
                        <p>Rod Rumsey - Guitarist, bassist, programming, producer.</p>
                        <p>Robert Deller - Guitarist & music director.</p>
                        <p>Mike Roberti - Guitarist & Producer.</p>
                        <p>Peter Evans - Guitarist & Producer.</p>
                        <p>Phil Friedl - Guitarist & Producer.</p>
                        <p>Bella Grace - Guitarist & music director.</p>
                    </div>
            </section>
            <section>
                    <div id="ownerProductionTag">
                        <h1 class="sectionTitleText">PRODUCTION & ENGINEERING CREDITS</h1>
                    </div>
                    <div id="bandCreditsContainer">
                        <div class="creditText">
                           <p>Con800</p>
                           <p>FYP</p>
                           <p>War Called Peace</p>
                           <p>Mr. Bill</p>
                           <p>Prop. 13</p>
                           <p>Picture Tube</p>
                           <p>Cult Of The Wrong Note</p>
                           <p>Dying Breed</p> 
                        </div>
                        <div class="creditText">
                            <p>Hightower</p>
                            <p>Plaza Iguana</p>
                            <p>Big Jerks</p>
                            <p>Sugar Britches</p>
                            <p>Death & Taxes</p>
                            <p>Rhythm Trak</p>
                            <p>Reynolds Rapp</p>
                            <p>Pokin' Fun</p> 
                        </div>
                    </div>
            </section>
        </div>
        <div id="work">
            <section>
                    <div id="ownerAffiliationsTag">
                        <h1 class="sectionTitleText">MUSIC AFFILIATIONS</h1>
                    </div>
                    <div id="bandCreditsContainer">
                        <div class="creditText">
                            <p>GERRY GIBBS</p>
                            <p>MIKE HOFFMAN</p>
                            <p>KEVIN O'NEAL</p>
                            <p>GARY FERGUSON</p>
                            <p>BRAD CUMMINGS</p>
                            <p>CHUCK TURNER</p>
                            <p>RICHARD SCHWAGERL</p>
                            <p>JOTTY JOHNSON</p> 
                        </div>
                        <div class="creditText">
                            <p>FRANK FAKINOS</p>
                            <p>TERI HITT</p>
                            <p>JEAN ARNETT</p>
                            <p>JANICE GUERRERO</p>
                            <p>PICTURE TUBE JAZZ QUARTET</p>
                            <p>AXIS JAZZ QUARTET</p>
                            <p>KASHMIR QUARTET</p>
                            <p>RHYTHM TRAK</p> 
                        </div>
                        <div class="creditText">
                            <p>BAND OF CLOUDS</p>
                            <p>BIG JERKS</p>
                            <p>BOZ OZ</p>
                            <p>MOONDANCE</p>
                            <p>FREEWAY FLYER</p>
                            <p>RED HOT RUBBER BALL</p>
                            <p>CO-INCIDENTAL JAZZ QUARTET </p>
                            <p>BAJA HARLEM BACKSTREET BOYS BAND</p> 
                            </div>
                    </div>
            </section>
            <section>
                    <div id="ownerBooksTag">
                        <h1 class="sectionTitleText">BOOKS</h1>
                    </div>
                    <div class="creditText">
                        <p>Power Chords</p>
                        <p>The CAGED Guitarist </p>
                    </div>
            </section>
            
        </div>


        
        
    </main>
    {{> footer}}
  </body>
</html>