<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus - {{pageTitle}}</title>
    <link rel="stylesheet" href="lessons.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
  </head>
  <body>
          {{> header}}
    <main>
        <div id="bookContainer">
            <p>TO BOOK - Talk/text (310) 999-9275 (that's - 310.ZZZZ.ASK) [We prefer texting, it's faster...], or </p>
            <img src="/musicfocus_emal.jpg" alt="">
        </div>

      <h1>Future home of Policy</h1>

    </main>

    {{> footer}}
  </body>
</html>