<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus - {{pageTitle}}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/productStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    {{> header}}
    <main id="productMain">
        <section id="pictureTube">
            <div id="pictureTubeLeft">
                <div id="pictureTubeTitleContainer">
                    <h2>The Picture Tube Jazz Band</h2>
                </div>
                <p class="">on Music Focus Records</p>
                <div>
                    <div class="albumArt">
                        <img src="/picture_tube_art2.gif" alt="">
                    </div>
                    <div>
                        <h3>CD tunes & times:</h3>
                        <ol>
                            <li>Amerigo Round Vespucci 4:52</li>
                            <li>Dionaea 4:18</li>
                            <li>Maithuna 6:40</li>
                            <li>Ten Million Aprils 4:33</li>
                            <li>Gumby Meets a Girl 5:32</li>
                            <li>Wave Of The Hand 4:37</li>
                            <li>Zion Retreat 5:18</li>
                            <li>Picture Tube 4:27</li>
                            <li>Make A Wish 5:56</li>
                            <li>Cantina Song (John Williams, from Star Wars) 1:48</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div id="pictureTubeRight">
                <h3>The Musicians</h3>
                <p>Karl Frederick Grossman began forming the songs for this album in early 1990. With Rich Schwagerl on vibraphone, Mike McLinden on bass as well as Gary Ferguson on drums, the band began playing and rehearsing the music to be recorded. For a year we rehearsed and refined new tunes and old ones. We came up with a viable set of music that eventually became the Picture Tube album.</p>
                <p>We basically performed the album at the Strand nightclub in the summer of 1994. </p>
                <p>The band was then ready to start laying the tracks that would become the album. We started with about 15 tunes and narrowed it down to the current 10 tunes. </p>
                <p>Richard and I became very much entwined in the melodic process of the tunes and we would have to 'woodshed' by oursleves many times to get the phrasing and nuance just right.</p>
                <p>The recording was very time consuming and detailed but we tried to put as much raw spirit as possible on the recorder. As an result of the that concept very little doubling or thickening was employed. We preferred the raw sound of the instruments. It was the players I believe who are totally responsible for the interaction and resultant 'magic'.</p>
                <p>A musical score of the whole CD exists. E-mail me to find out more...</p>
                <a href="mailto:karlg@earthlink.net">karlg@earthlink.net</a>
            </div>
        </section>
        <form action="/charge" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bfUp6hcgE6avxAdkPO57yz5P00TR81Wtey"
            data-amount="2000"
            data-name="Picture Tube CD"
            data-description="CD by Karl Grossman"
            data-billing-address="true"
            data-shipping-address="true"
            data-label="Purchase CD"
            data-image="/picture_tube_art2.gif"
            data-locale="auto">
        </script>
        <input type="hidden" name="productId" value="1001">
        </form>
        <div id="pictureTubeSpacer"></div>

        <section id="xmasKarl">
            <div id="xmasKarlLeft">
                <div id="xmasKarlTitleContainer">
                    <h2>Christmas Karl</h2>
                </div>
                <p class="">on Music Focus Records</p>
                <div class="albumArt">
                    <img src="/XmasKarl.gif" alt="">
                </div>
            </div>
            <div id="xmasKarlRight">
                <p>Contains 12 solo guitar arrangements by Karl Grossman using a variety of guitars... Little Drummer Boy, Good King Wenceslas, We Three Kings, Chestnuts, Auld Lang Syne... Very nice arrangements done by a quality 'touch' player... </p>
                <p>Also available on cassette.</p>
                <p>Recorded direct to DAT at Music Focus in Hermosa Beach.</p>
            </div>
        </section>
        <form action="/charge" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bfUp6hcgE6avxAdkPO57yz5P00TR81Wtey"
            data-amount="1988"
            data-name="Christmas Karl CD"
            data-description="CD by Karl Grossman"
            data-billing-address="true"
            data-shipping-address="true"
            data-label="Purchase CD"
            data-image="/XmasKarl.gif"
            data-locale="auto">
        </script>
        <input type="hidden" name="productId" value="1002">
        </form>
        <div id="xmasKarlSpacer"></div>

        <section id="soloScapes">
            <div id="soloScapesLeft">
                <div id="soloScapesTitleContainer">
                    <h2>Soloscapes</h2>
                </div>
                <p class="">Progression Lessons</p>
                <div class="albumArt">
                    <img src="/axissolo.gif" alt="">
                </div>
            </div>
            <div id="soloScapesRight">
                <h3>CD #1 - Series I Progression Lessons</h3>
                <p>These are 2 chord progressions designed to "get you going" playing good rhythm as well as soloing. They are designed to give you ear training in both major and minor sounds. Since the progressions are "genderless" regarding major or minor, YOU decide and get the benefit of hearing melodic ideas in either quality while consciously making those choices. Creative AND conscious ear training! </p>

                <h3>CD #2 - Series II MAJOR Progression Lessons</h3>
                <p>These are Major key progressions. The 4 suggested scale formats that you improvise around are written in 6 different keys to give you a workout in many locations on the neck. Depending on the access of your upper frets, you should be able to explore the outer extremities of the guitar. It's all about keeping your place, experimenting, playing smoothly and in time. </p>

                <h3>CD #3 - Series III Minor Progression Lessons</h3>
                <p>These are simple and complex minor key progressions. The suggested scales that you improvise around are written in 6 different keys to give you a diverse workout on the neck. Depending on the order of the chords, there might be a necessary "mode change". The later examples require you to move through the modes within the progressions themselves. This is fairly advanced. HOWEVER, by playing pentatonics only, you can avoid any "problem notes" altogether. The best guitarists know how to mode change and yet many use the pentatonic "trick" as well!!</p>
            </div>
        </section>
        <form action="/charge" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bfUp6hcgE6avxAdkPO57yz5P00TR81Wtey"
            data-amount="3500"
            data-name="Soloscapes CD Set"
            data-description="CD set by Karl Grossman"
            data-billing-address="true"
            data-shipping-address="true"
            data-label="Purchase CD"
            data-image="/axissolo.gif"
            data-locale="auto">
        </script>
        <input type="hidden" name="productId" value="1003">
        </form>
        <div id="soloScapesSpacer"></div>
        <section id="caged">
            <div id="cagedLeft">
                <div id="cagedTitleContainer">
                    <h2>The CAGED Guitarist</h2>
                </div>
                <p class="">By Karl Grossman</p>
                <div class="albumArt">
                    <img src="/Caged_Cover.gif" alt="">
                </div>
            </div>
            <div id="cagedRight">
                <p>Don't miss this one!!! A book of special guitar theory concepts. By Karl Grossman. Devoted to unifying the guitar neck. Playing solos using these concepts can have you moving all over the neck with 'full knowledge'. You really can't afford not to know this information!! 102 pages.</p>
            </div>
        </section>
        <form action="/charge" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bfUp6hcgE6avxAdkPO57yz5P00TR81Wtey"
            data-amount="1500"
            data-name="CAGED Guitarist"
            data-description="CAGED Guitarist - guitar theory book."
            data-billing-address="true"
            data-shipping-address="true"
            data-label="Purchase Book"
            data-image="/Caged_Cover.gif"
            data-locale="auto">
        </script>
        <input type="hidden" name="productId" value="1004">
        </form>
        <div id="cagedSpacer"></div>

        <section id="campfire">
            <div id="campfireLeft">
                <div id="campfireTitleContainer">
                    <h2>Smokin' Campfire Songbook</h2>
                </div>
                <p class="">By Karl Grossman</p>
                <div class="albumArt">
                    <img src="/SmokinCampfire.gif" alt="">
                </div>
            </div>
            <div id="campfireRight">
                <p>Make any gathering of people an experience! Over 50 all-time favorite songs in a simple format with lyrical song sheets and a special 'cheat sheet' section.</p>
                 <details>
                    <summary>See Song List</summary>
                    <div id="campfireSongsGrid">
                    <ul class="songsLeft">
                        <li>After Midnight</li>
                        <li>And I Love Her</li>
                        <li>Angie</li>
                        <li>Aqualung</li>
                        <li>Babe I'm Going To Leave You</li>
                        <li>Bad Moon Rising</li>
                        <li>Badge</li>
                        <li>Before You Accuse Me</li>
                        <li>Behind Blue Eyes</li>
                        <li>Blackbird</li>
                        <li>Born To Run (Acoustic)</li>
                        <li>Breakdown</li>
                        <li>Brown Eyed Girl</li>
                        <li>Brown Sugar</li>
                        <li>Can't Get Enough Of Your Love</li>
                        <li>Can't You Hear Me Knockin'</li>
                        <li>Candle In The Wind</li>
                        <li>Carolina In My Mind</li>
                        <li>Cocaine</li>
                        <li>Come On (part 3)</li>
                        <li>Comfortably Numb</li>
                        <li>Crossfire</li>
                        <li>Crossroads</li>
                        <li>Day Tripper</li>
                        <li>Dehlia</li>
                        <li>Desperado</li>
                        <li>Dirty Woman</li>
                        <li>Don't Pass Me By</li>
                        <li>Dust In The Wind</li>
                        <li>Eighteen & Life</li>
                        <li>End Of The Line</li>
                        <li>Every Breath You Take</li>
                        <li>Evil Ways</li>
                        <li>Eyes Of A New York Woman</li>
                        <li>Fast Car</li>
                        <li>Feel Like Makin' Love</li>
                        <li>Fields Of Gold</li>
                        <li>Finish What You Started</li>
                        <li>Fire</li>
                        <li>Friend Of The Devil</li>
                        <li>Full Moon On Main Street</li>
                        <li>Fun Fun Fun</li>
                        <li>Funk 49</li>
                        <li>Get Back</li>
                        <li>Give A Little Bit</li>
                        <li>Golden Years</li>
                        <li>Good Lovin'</li>
                        <li>Hard Day's Night, A</li>
                    </ul>

                    <ul class="songsRight">
                        <li>Harder They Come</li>
                        <li>Harvest Moon</li>
                        <li>Have You Ever Loved A Woman</li>
                        <li>Heart Of Gold</li>
                        <li>Hotel California</li>
                        <li>House Of The Rising Sun</li>
                        <li>I Will Follow</li>
                        <li>I'll Be There For You</li>
                        <li>If I Fell</li>
                        <li>Imagine</li>
                        <li>Is This Love?</li>
                        <li>Jailhouse Rock</li>
                        <li>Jamaica Farewell</li>
                        <li>Jumpin' Jack Flash</li>
                        <li>Knockin' On Heaven's Door</li>
                        <li>Landslide</li>
                        <li>Lay Down Beside</li>
                        <li>Lay Lady Lay</li>
                        <li>You're A Big Girl Now</li>
                        <li>Layla (unplugged)</li>
                        <li>Le Grange</li>
                        <li>Limelight</li>
                        <li>Little Miss Magic</li>
                        <li>Lola</li>
                        <li>Louie Louie</li>
                        <li>Love Me Two Times</li>
                        <li>Man On The Moon</li>
                        <li>Margaritaville</li>
                        <li>Mary Had A Little Lamb</li>
                        <li>Melissa</li>
                        <li>Mercury Blues</li>
                        <li>Money</li>
                        <li>Money For Nothin'</li>
                        <li>Moondance</li>
                        <li>Move It On Over</li>
                        <li>Never Going Back Again</li>
                        <li>New Years Day</li>
                        <li>Night Moves</li>
                        <li>No More Mr. Nice Guy</li>
                        <li>No Woman No Cry</li>
                        <li>Not Fade Away (Buddy Holly)</li>
                        <li>Nowhere Man</li>
                        <li>Old Time Rock And Roll</li>
                        <li>On The Road Again</li>
                        <li>One (U2)</li>
                        <li>Paradise City</li>
                        <li>Patience</li>
                        <li>Plush</li>
                        <li>Pride And Joy</li>
                    </ul>

                    <ul class="songsLeft">
                        <li>Purple Haze</li>
                        <li>Rainy Day Women (Stone You)</li>
                        <li>Ramblin' Man</li>
                        <li>Red House</li>
                        <li>Redemption Song</li>
                        <li>Rock And Roll All Night </li>
                        <li>ROCK In The USA</li>
                        <li>Rockin' Me</li>
                        <li>Rocky Raccoon</li>
                        <li>Roll Over Beethoven</li>
                        <li>Roxanne</li>
                        <li>Runaway Train</li>
                        <li>Saw Her Standing There</li>
                        <li>Sitting On Top Of The World</li>
                        <li>Slow Down</li>
                        <li>Smoke On The Water</li>
                        <li>Spooky</li>
                        <li>Stairway To Heaven</li>
                        <li>Stand By Me</li>
                        <li>Steppin' Stone</li>
                        <li>Sugar Mountain</li>
                        <li>Sultans Of Swing</li>
                        <li>Sunday Bloody Sunday</li>
                        <li>Sunshine Of My Love</li>
                        <li>Surfing USA</li>
                        <li>Sweet Baby James</li>
                        <li>Sweet Child Of Mine</li>
                        <li>Sweet Home Alabama</li>
                        <li>Take It Easy</li>
                        <li>Talks To Angels</li>
                        <li>Tambourine Man</li>
                        <li>Tangled Up In Blue</li>
                        <li>Tears In Heaven</li>
                        <li>Tequila Sunrise</li>
                        <li>This Land Is Your Land</li>
                        <li>Touch Of Gray</li>
                        <li>Twist And Shout</li>
                        <li>Two Of Us</li>
                        <li>Waiting On A Friend</li>
                        <li>Walk This Way</li>
                        <li>Wall, The</li>
                        <li>Wanted Dead Or Alive</li>
                        <li>While My Guitar Gently Weeps</li>
                        <li>Wicked Game</li>
                        <li>Wild Horses</li>
                        <li>Wind Cries Mary, The</li>
                        <li>Wish You Were Here</li>
                        <li>World I Know, The</li>
                    </ul>
                    </div>
                </details> 
            </div>
        </section>
        <form action="/charge" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bfUp6hcgE6avxAdkPO57yz5P00TR81Wtey"
            data-amount="1500"
            data-name="Smokin' Campfire Songbook"
            data-description="Smokin' Campfire Songbook - 50 all-time favorites."
            data-billing-address="true"
            data-shipping-address="true"
            data-label="Purchase Book"
            data-image="/SmokinCampfire.gif"
            data-locale="auto">
        </script>
        <input type="hidden" name="productId" value="1005">
        </form>
        <div id="campfireSpacer"></div>

         <section id="jazzPorch">
            <div id="jazzPorchLeft">
                <div id="jazzPorchTitleContainer">
                    <h2>Jazz on the Porch</h2>
                </div>
                <p class="">By Karl Grossman</p>
                <div class="albumArt">
                    <img src="/jazz-on-the-porch.gif" alt="">
                </div>
            </div>
            <div id="jazzPorchRight">
                <p>Your way into playing jazz guitar... Contains 'freshman' section to get started. Over 30 selected guitar arrangments with chord fingering, & standard notation. </p>
                <div>
                    <details>
                        <summary>See Song List</summary>
                    <div id="jazzSongsGrid">
                        <ul class="songsLeft">
                        <li>What A Wonderful World </li>
                        <li>And I Love Her</li>
                        <li>Norweigan Wood</li>
                        <li>Something</li>
                        <li>Black Orpheus</li>
                        <li>Gentle Rain</li>
                        <li>Blue Bossa</li>
                        <li>Green Dolphin Street</li>
                        <li>Sleepwalk</li>
                        <li>Little Wing</li>
                        <li>Wonderful Tonight</li>
                        <li>Equinox</li>
                        <li>Mack The Knife</li>
                        <li>All Blues</li>
                        <li>Four</li>
                        <li>Freddie The Freeloader</li>
                        <li>Solar</li>
                        <li>Tune Up</li>
                        <li>Satin Doll</li>
                    </ul>
                    <ul class="songsRight">
                        <li>Take The A Train</li>
                        <li>Misty</li>
                        <li>Girl From Ipanema</li>
                        <li>Scotch And Soda</li>
                        <li>Harlem Nocturne</li>
                        <li>Little Sunflower</li>
                        <li>As Time Goes By</li>
                        <li>Wave</li>
                        <li>Summer Samba</li>
                        <li>How High The Moon</li>
                        <li>I Shot The Sheriff</li>
                        <li>Autumn Leaves</li>
                        <li>My Favorite Things</li>
                        <li>Samba Pa Ti</li>
                        <li>Smooth</li>
                        <li>Suicide Is Painless</li>
                        <li>Dance of the Sugar Plum Fairies</li>
                        <li>Christmas Song</li>
                        <li>It's The Most Wonderful Time Of The Year </li>
                    </ul>
                    </div>
                    </details>
                </div>
            </div>
        </section>
        <form action="/charge" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_bfUp6hcgE6avxAdkPO57yz5P00TR81Wtey"
            data-amount="1300"
            data-name="Jazz on the Porch"
            data-description="Jazz on the Porch - 30 selected guitar arrangments."
            data-billing-address="true"
            data-shipping-address="true"
            data-label="Purchase Book"
            data-image="/jazz-on-the-porch.gif"
            data-locale="auto">
        </script>
        <input type="hidden" name="productId" value="1006">
        </form>
        <div id="jazzPorchSpacer"></div>

    </main>
    {{> footer}}
  </body>
</html>