

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thank You</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
    
</head>
<body onload="">
    {{> header}}
    <main id="" class="flexRow justifyCenter prompt">
            <section class="flexColumnCenter blueBG width80percent">
                <h1 class="price textCenter">Thanks for your Purchase!</h1>
                <img src="{{image}}">
                <p class="classPack textCenter">You bought {{item}} for {{amount}}</p>
                
            </section>
            
    </main>
    {{> footer}}
</body>

</html>