<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus - {{pageTitle}}</title>
    <link rel="stylesheet" href="recording.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> 
  </head>
  <body>
          {{> header}}
    <main>
        <div id="bookContainer">
            <p>TO BOOK - Talk/text (310) 999-9275 (that's - 310.ZZZZ.ASK) [We prefer texting, it's faster...], or <a class="bookLink" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#117;&#115;&#105;&#99;&#102;&#111;&#99;&#117;&#115;&#105;&#64;&#101;&#97;&#114;&#116;&#104;&#108;&#105;&#110;&#107;&#46;&#110;&#101;&#116;">musicfocusi@earthlink.net</a></p>
            {{!-- <img src="/musicfocus_emal.jpg" alt=""> --}}
        </div>

        <div id="recordingNav" class="marginTop20px">
                <div id="signContainer">
                    <img id="karlEngineerPic" src="kfgrossman_engineer.JPG" alt="">
                </div>
                <ul>
                    <li><a href="#preparation">Preparation</a></li>
                    <li><a href="#setup">In-Studio Setup</a></li>
                    <li><a href="#post">Post Processing</a></li>
                    <li><a href="#equipment">Equipment List and Rates</a></li>
                    <li><a href="#reference">Quick Reference</a></li>
                </ul>
        </div>

        {{!-- <div id="loungeLeadContainer">
            <div>
                <div id="loungeLeadTitleContainer">
                    <h2 id="loungeLeadTitle"> Welcome to The "Abalone Lounge" / Music Focus™ rehearsal / training hall!</h2>
                </div>
                <div class="loungeSubLead">
                    <p>Thank you for choosing our facility to enhance and further your progress.</p> 
                </div>
                <div class="loungeSubLead1">
                    <p>We commit to bringing you a working, clean, private facility. </p> 
                </div>
            </div>
        </div> --}}
        <section id="preparation" class="marginTop20px">
            <section class="sectionTitleContainerSkew blueBG">
                <h1 class="sectionTitle">Preparation</h1>
            </section>
            <div class="preparationCardContainer">
                <div class="preparationCard blackBG">
                    <section class="width60Percent blueBG textCenter">
                        <i class="fas fa-guitar marginTop20px"></i>
                        <h2>GUITARISTS</h2> 
                    </section>
                    <p>Get new strings on the instruments you will be playing on the recording. Check out all guitars, amps, pedals, speakers, and cords to make sure nothing is defective or noisy. </p> 
                </div>
                <div class="preparationCard blackBG">
                    <section class="width60Percent blueBG textCenter">
                        <i class="fas fa-drum marginTop20px"></i>
                        <h2>DRUMMERS</h2> 
                    </section>
                    <p>Completely tune the kit and think very seriously about purchasing new drum heads for the session. All drum equipment should be listened to carefully for squeaks and rattles that will show up on tape.</p> 
                </div>
                <div class="preparationCard blackBG">
                    <section class="width60Percent blueBG textCenter">
                        <i class="fas fa-sort-amount-up marginTop20px"></i>
                        <h2>PRACTICE SCHEDULE</h2> 
                    </section>
                    <p>You should have at least 3 recording practices before you come in to record. For the sake of endurance try this: Run a tune 3 or 4 times in a row with about 30 seconds in between. If you really do this with all the tunes, you'll get a good idea of how it's going to feel in the studio on the big day. Get your endurance up before the day. Your sense of perfection is heightened while recording. If you've practiced endurance, you won't wimp out on the 4th take. </p> 
                </div>
                <div class="preparationCard blackBG">
                    <section class="width60Percent blueBG textCenter">
                        <i class="fas fa-question-circle marginTop20px"></i>
                        <h2>CONCERNS</h2> 
                    </section>
                    <p>What songs are you recording? How many? Warn your drummer about fatigue if you plan on more than 3 or 4 songs. Whether you are tracking in layers or recording direct to Pro Tools or DAT, drums are the foundation for everything. Although it is the drummer's performance that matters first, everyone must do everything possible to get "the take." You must strive for perfection. </p> 
                </div>
            </div>
            
        </section>

        <section id="setup" class="marginTop20px">
            <section class="sectionTitleContainerSkew orangeBG">
                <h1 class="sectionTitle">In-Studio Setup</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>SOUND CHECK</h2> 
                </section>
                <p>You will be recorded and then asked into the sound booth to hear your "levels". Everyone is always welcome to make suggestions on getting a better sound.</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>STUDIO ENVIRONMENT FACTOR</h2> 
                </section>
                <p>"Tracking" a song is very different from rehearsal. "Tracking" is laying down the initial "bed" of the song. This might include ALL the instruments, or it might just be the structural "drums and bass" bed of the song that you plan to "overdub" onto... You are more likely to hear small mistakes when you hear a playback in a recording studio. You need to allow about 2 or 3 takes per song to get the original track acceptable. (Many professional bands use what is called a click track to help keep the track tempo even and perfect. If your drummer is very experienced at this by all means use a click track. If you do use a click, find out what your exact tempos are before you come in. We have the machines to make the click.) </p> 
                <p>Most bands end up NOT using a click track, which is what we actually recommend. You're not making a beer commercial, you're trying to be creative. That said, the tighter you are as a band, rhythmically, the better it will "endure" as a recording. You want your recording to have "legs". </p>
                <p>It's a great feeling to get a song right in "one take." It does happen. Strive for this - but don't be discouraged if it's not quite right the first time. Don't be afraid to ask questions and get your feet wet in the studio. We want to magnify your wishes and translate your spirit to tape. </p>
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>HEADPHONES</h2> 
                </section>
                <p>Every professional recording studio uses what is called a 'headphone mix' to allow you to hear what is going on. This can be a little confusing at first. When a band tracks their music, usually the vocalist will be in a separate room from the drummer. The drummer hears everyone else only through these headphones. Bass and guitars are almost always tracked "direct" into the mixing console, or tracked at a slightly lesser volume than "show" volume. It's a little funny feeling at first not to have a guitar or bass amp pumping next to you. Your headphone station will have individual adjustments for each band member (with multiple drum "channels"), as well as for vocals.</p> 
                <p>Be patient with the process of getting a headphone mix. Everyone, including the engineer, wants it to sound just right. Your little "headphone" station will allow a LOT of flexibility. The individual controls of your headphone station are very small - and tiny adjustments go a long way. You also may have to bear with a slightly distorted headphone mix. To get a perfectly clean headphone mix loud enough to hear over a drum set is almost impossible. Normally you will be rewarded with a playback that sounds clean & killer. </p>
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>SET UP</h2> 
                </section>
                <p>It takes up to an hour to get drums set up and microphones correctly placed, this includes testing and equalizing the sounds. During the testing process we always record the drummer playing alone for a minute or so. Then he can hear for himself what the kit sounds like. Once the microphones are set around the drum set, the drummer needs to play each drum for the engineer. </p> 
                <p>There needs to be a clean sounding drum mix going to tape. If a bass amp is anywhere in the room where a drum set is recorded, it will go onto all the microphones. This goes for guitar amps to a slightly lesser degree. If you know about this and are content to 'let it bleed,' we have no problem with that. That said, bass, guitars and vocals are usually creating "scratch tracks" the first pass through. This just means that these parts, though recorded as well as possible, are probably not going to be the final "keeper" parts for those instruments. The point is this: Your tracking session is really just to get acceptable drums onto tape. Focus on that objective. It's quite common for EVERYONE else to - have their day "in the sun" - to get their part onto the recording to the best of their abilities right now...</p>
            </div>
            <div>
                <section class="subTitleContainerSkew orangeBG">
                    <h2>CHECKING THE DRUM MICROPHONES</h2> 
                </section>
                <p>It is important to know how an engineer needs to hear your drum set. Bass drum is usually first to get checked out. Play only the bass drum slowly and evenly. Always play with the actual strength that you really play. The tendency is to wimp out during sound check, then blow all the mics away during the first tune. Be honest with your hits. Next comes the snare. Again the hit must be the same strength as you plan on really using. Toms are next. Each tom is usually checked from smallest to largest. Watch the engineer through the glass to know when he wants the next sized tom to be hit. Usually at the end of the individual tom check the engineer would like to hear you do some tom fills. Step through your toms with your own style keeping in mind your normal strength of hitting. Next are the over-head mics. Use a basic drum beat with attention to more cymbal crashes and ride cymbal than perhaps is normal for you. Be sure to use cymbals that are placed on either side. Don't over hit your normal crash strength!</p> 
            </div>

            
            
        </section>

        <section id="post" class="marginTop20px">
            <section class="sectionTitleContainerSkew pinkBG">
                <h1 class="sectionTitle">Post Processing</h1>
            </section>
            <div>
                <p>When all the parts you've recorded have been okayed by everyone involved, it is finally time to mix all the sounds together into a final mix. This is one of the most important parts of the process. It is also one of the least understood.</p>
            </div>
            <div>
                <section class="subTitleContainerSkew pinkBG">
                    <h2>STEP ONE</h2> 
                </section>
                <p>We start once again back with the drums. Like in the beginning of the recording process, we concentrate on the the sound of the drums. Be patient with this process, all the other layers will sound a lot better if the drums are kicking from the beginning. Getting a good sound on any track means listening to it isolated and then equalizing it. Eq is just a fancy way of saying tone controls. Just like on a guitar amp, you have controls to change the treble and bass. The same is true with the tracks on a mixing board. Every instrument on the tape will have the opportunity to be Eq'd: drums, bass, guitars, vocals, solos, etc. will be Eq'd to sound exactly the way you want them. We have done mixes many times so we have a good understanding about what sounds good on our equipment. However, you must be there to help and listen carefully to everything being done. Ask questions and give suggestions. Be prepared to be a little overwhelmed at the technicalities. But hang in there and concentrate. You are paying for your own education. This is the time to sit up in class. If your ask something silly don't worry, we've all done it!</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew pinkBG">
                    <h2>STEP TWO</h2> 
                </section>
                <p>Once the sounds of all the instruments sound right, we start to mix them together. This just means that the amount of drums, bass, guitars in relation to each other is tested and reviewed many times. The drums themselves must be mixed in relation to bass drum, snare, high-hat, toms etc. Everyone needs to be listening to the overall projection of the band sound now. Though it's strange, get used to the term "null point." This term means just the basic floor level of the sounds during the song verses or choruses. Many times the null points can be used for the whole collection of songs. Don't worry at this point about the guitar solo not being loud enough or the tom fills or whatever. They will not be forgotten.</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew pinkBG">
                    <h2>STEP THREE</h2> 
                </section>
                <p>Now the computer automation comes into play. It's very high tech, but all it does remembers things. All fader movements and channel muting can be remembered and tried out to everyone's satisfaction. It's refreshing to realize that you don't have to give any more attention to a detail once it's been automated. Everything that is done in the automation is stored on a computer disk. It's like a control file containing the sequence of events to the mix. All songs are saved separately as a file on disk. Each disk holds 6 mixed songs.
During the automation process, reverb is added as well as special volume changes for solos, fills, intros and exits. We also review how the song actually ends. Some possibilities are a fade out, a quick knife edge (where the reverb is muted instantly too, quite dramatic) or just a natural sounding live ending with just a bit of a "feathered tail off." </p> 
            </div>
            <div>
                <section class="subTitleContainerSkew pinkBG">
                    <h2>MIXING TO PRO TOOLS</h2> 
                </section>
                <p>Once the final automation sequence is finished for each song, it is "mixed" to a computer running Pro Tools. This Digital Audio program stores all the actual mixed music. All songs must sound good separately and as a whole. It's also a good idea to think ahead to 'ordering' the songs. It's usually the easiest to just play the songs in the order you want them. Pro Tools is very flexible and can cahnge the order of the songs, even edit sections, perform fade outs, add wacky samples (you'd be surprised...) and do some minor "pre-mastering". We usually burn as many CD's as there are members of the band, but we can burn more. Remember, the time it takes to do the mixing, computer prep and CD burning are all still "on the clock". Most of you have "burners" at home so it's best if we leave "multiple copy" burning to you or your friends. </p> 
            </div>
            <div>
                <section class="subTitleContainerSkew pinkBG">
                    <h2>ARTWORK</h2> 
                </section>
                <p>A quick word about artwork - GET IT STARTED NOW! So many bands wait and wait and it's sometimes months after they've finished recording that the CD comes out... Don't delay on this</p> 
            </div>
            <div>
                <section class="subTitleContainerSkew pinkBG">
                    <h2>SUMMARY</h2> 
                </section>
                <p>We've talked about preparation and tracking being the first steps. We continued to 'thicken' things with overdub sessions. Lastly the final steps of mix down finish our process. Show up to your sessions with an open mind and you will be rewarded with a great experience. Your music can put on a new pair of shoes and really step out. Good luck. </p> 
            </div>
        
        </section>

        <section id="equipment" class="marginTop20px">
            <section class="sectionTitleContainerSkew greenBG">
                    <h1 class="sectionTitle">Equipment List and Rates</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew greenBG">
                    <h2>STUDIO A</h2> 
                </section>
                <ul>
                    <li>Tascam 3700-M mixing console. 32 channel, automated mixing console, full meter bridge.</li>
                    <li>Recently upgraded pre-amps, EQ & master sections. This board sounds like a Neve! Jim Williams at "Audio Upgrades" did the modification...</li>
                    <li>Pro Tools Digi-002 - 32 track system running on a Macintosh G5 (We can run 16 tracks wide...) </li>
                    <li>Apogee "Rosetta 800" A/D, D/A high-end converter </li>
                    <li>La Cie 12x CD burner (computer) </li>
                    <li>Crown, Yamaha, QSC & Hafler power amps </li>
                    <li>Tannoy, Auratone & RSL monitors </li>
                    <li>AKG, Sennheiser, Oktava, Audio Techinica, Shure, and ElectroVoice microphones </li>
                    <li>Fostex, AKG, & Sony headphones </li>
                    <li>To backup files, a small quantity of DVD's is recommended.</li>
                    <li>Vintage Fostex E-16 reel to reel multitrack recorder. (1/2 inch)
(used only by special request. Extra fee involved - very expensive. This machine runs 30ips...)</li>
                </ul>
            </div>
            <div>
                <section class="subTitleContainerSkew greenBG">
                    <h2>STUDIO B</h2> 
                </section>
                <ul>
                    <li>Apple Garageband '11 (Vers. 6.05) recording suite, so quick and easy you'll be flabberghasted!!!!</li>
                    <li>Focusrite Twin-Trac Pre (2 channel class mic pre-s with compression and Eq</li>
                    <li>AKG, Audio Technica, Shure microphones</li>
                    <li>Event Project Studio 8 monitors</li>
                    <li>Whirlwind Imp 2 D.I.</li>
                    <li>DBX 166XL Compression</li>
                    <li>Sony TCS-580V "instant idea recorder"</li>
                    <li>Marshall, Music Man & Crate "mini amps"</li>
                    <li>AKG headphones</li>
                    <li>Fender, Ovation, Ibanez, Takamine, Epiphone, Rogue acoustic and electric guitars & basses</li>
                    <li>M-Audio Keystation 61es 61-Key MIDI Controller</li>
                    <li>Vincent Bach Stradivarius Model 37 Cornet</li>
                    <li>To backup files, a small quantity of DVD's is recommended.</li>
                    <li>Violin, Mandolin and Ukele available...</li>
                    <li>PLUS - metronomes, capos, copy machine, scanner, paper and pens, computer notation, brains, fingers and guitar picks</li>
                    <li>EVERYTHING YOU'D NEED AS A SONGWRITER TO DEMO YOUR TUNES!!!</li>
                </ul>
            </div>
            <div>
                <section class="subTitleContainerSkew greenBG">
                    <h2>STUDIO C</h2> 
                </section>
                <ul>
                    <li>Studio C is our portable - mobile recording set-up</li>
                    <li> Roland VS 18-24 - 24 bit (48khz or 44.1khz) recording workstation!</li>
                    <li>This is a great set-up for live recording as well as smaller overdubbing projects</li>
                    <li>We bring all the equipment to your arena or house.</li>
                    <li>We supply headphones and microphones to use, you supply the talent and your own instruments.</li>
                    <li>We bring the set-up back to our studio to make mixes and CD copies.</li>
                    <li>Good for Christmas albums, reunion jams, party jams, holiday get togethers...</li>
                    <li>FUN AND VERY HIGH QUALITY. </li>
                    <li>Try it!!!!</li>
                </ul>
            </div>
            <div>
                <section class="subTitleContainerSkew greenBG">
                    <h2>OUTBOARD & EFX</h2> 
                </section>
                <ul>
                    <li>TL Audio tube mic preamplifiers</li>
                    <li>Lexicon PCM-70</li>
                    <li>Lexicon LXP-15</li>
                    <li>Lexicon LXP-1</li>
                    <li>Lexicon Alex</li>
                    <li>Yamaha SPX 90</li>
                    <li>Alesis Quadraverb</li>
                    <li>Alesis 3630 stereo compressor (2)</li>
                    <li>Behringer MDX 2200 stereo compressor</li>
                    <li>Behringer MDX 4400 quad compressor</li>
                    <li>dbx 1066 stereo compressor (2)</li>
                    <li>dbx 166 stereo compressor</li>
                    <li>dbx 160 compressor</li>
                    <li>BBE Sonic Maximizer</li>
                </ul>
            </div>
            <div>
                <section class="subTitleContainerSkew greenBG">
                    <h2>INSTRUMENTS</h2> 
                </section>
                <ul>
                    <li>Yamaha Studio Custom Drumset.</li>
                    <li>Fender, Gibson, Alvarez, Godin, Guild, DeArmond, Cordoba, Ibanez and
Sanchez, & Schecter electric and acoustic guitars.</li>
                    <li>Mesa Boogie, Marshall, Fender, Randall, Vox, Music Man & Bag End amplifiers & cabinets.</li>
                    <li>Boss, Ibanez & Dunlop effects pedals.</li>
                    <li>Behringer, QSC, TOA - PA system.</li>
                </ul>
            </div>
            <div>
                <section class="subTitleContainerSkew greenBG">
                    <h2>SERVICE RATES & TALENT</h2> 
                </section>
                <ul>
                    <li>Studio rates: $76 per hour . Engineer(s) included.</li>
                    <li>We also do computer editing & *tweezing (Pro Tools) $76 per hour.</li>
                    <li>Block rates on request. </li>
                    <li>Cassette duplication: Rates vary by quantity </li>
                    <li>CD duplication: Rates vary by quantity. </li>
                    <li>We have skilled musicians available for your project. Rates vary.<br>
(You usually will have a willing musicican for about $100.00 per tune!! Better ratios for more tunes...) </li>
                    <li>CD duplication: Rates vary by quantity. </li>
                    <li>Current list of studio musicians. Call 310-379-4454 for phone referals and availability: </li>
                </ul>
                <ul id="talentList">
                    <li>Karl Grossman - Guitar, Bass, vocal, drums, trumpet (great guitar, good singer, first take bassist, arranger. Reads) </li>
                    <li>Gary Ferguson - Drums (full pro, played with the big boys. Reads) </li>
                    <li>Mike McLinden - Bass, Vocals (sounds like Sting, GREAT bass chops, reads) </li>
                    <li>Rogerio Jardim - Drums and percussion (Brazilian specialist) </li>
                    <li>Jack Verga - Drums (very advanced, jazz, blues etc., great reader) </li>
                    <li>Richard Schwagerl - Jack of All, Drums, percussion, Vibes, Keyboard, Steel drum, marimba, "The Stick" etc.!!! </li>
                    <li>Al Salas - Percussion, Drums, Vocals (authentic congas and bongos, great harmony arranger too! Reads) </li>
                    <li>Janice Guerrero - Vocals (legit country vocals, great harmonies too) </li>
                </ul>
                <p>We also have access to full bands to do tracks for you... Call!!! </p>
            </div>
        </section>

        <section id="reference" class="marginTop20px">
            <section class="sectionTitleContainerSkew purpleBG">
                <h1 class="sectionTitle">Quick Reference</h1>
            </section>
            <div>
                <section class="subTitleContainerSkew purpleBG">
                    <h2>Recording Guides for quick reference</h2>
                </section>
                <ul>
                    <li><a href="/dirtodat.gif">Direct to DAT</a></li>
                    <li><a href="/multitrack.gif">Multi-track</a></li>
                </ul>
            </div>
        </section>

    </main>

    {{> footer}}
  </body>
</html>