<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus - {{pageTitle}}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="rehearsalStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
          {{> header}}
    <main>
        <div id="bookContainer">
            <p>TO BOOK - Talk/text (310) 999-9275 (that's - 310.ZZZZ.ASK) [We prefer texting, it's faster...], or </p>
            <img src="/musicfocus_emal.jpg" alt="">
        </div>

        <div id="rehearsalNav">
                <div id="signContainer">
                    <img src="abalone-sign.jpg" alt="">
                </div>
                <ul>
                    <li><a href="#schedule">Current Schedule</a></li>
                    <li><a href="#rules">Rules</a></li>
                    <li><a href="#rates">Rates</a></li>
                    <li><a href="#equipment">Equipment</a></li>
                    <li><a href="#room">Room Specs</a></li>
                </ul>
        </div>

        <div id="loungeLeadContainer">
            <div class="flexColumnCenter">
                <div id="loungeLeadTitleContainer">
                    <h2 id="loungeLeadTitle"> Welcome to The "Abalone Lounge" / Music Focus™ rehearsal / training hall!</h2>
                </div>
                <div class="loungeSubLead">
                    <p>Thank you for choosing our facility to enhance and further your progress.</p> 
                </div>
                <div class="loungeSubLead1">
                    <p>We commit to bringing you a working, clean, private facility. </p> 
                </div>
            </div>
        </div>

        
        <section id="schedule">

        </section>

        <section id="rules">
            <div class="sectionTitleContainer">
                 <h1 class="sectionTitle">The Rules</h1>
            </div>
           
            <div id="rulesVideo">
                <div>
                    <h2>IF YOU'RE NEW TO OUR STUDIO<br> YOU MUST WATCH THIS VIDEO</h2>
                    <p>(NOT AN OPTION)</p>
                    <h2>AND ALL YOUR BAND MEMBERS.<br> I'M HAPPY TO TEXT IT TO YOU</h2>
                    <p>(PROBABLY ALREADY DID...):</p>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/g7siaLxOTNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="biggestRule">
                 <div class="img1">
                    <img src="Door1.png" alt="">
                </div>
                <div class="img2">
                    <img src="Door2.png" alt="">
                </div>
                <div class="doorText">
                    <h2>The BIGGEST RULE OF ALL</h2>
                    <h2>Close and Lock both outer doors when you are playing.</h2> 
                    <p>Please "sound check" with the doors closed. Respect our neighbors.</p> 
                </div>
               
                
            </div>
            <div>
                <ul class="rulesList flexRow flexWrap justifySpaceEvenly width100Percent">
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-drum iconMargin"></i>
                            <i class="fas fa-arrow-right iconMargin"></i>
                            <i class="fas fa-microphone-slash iconMargin"></i>
                        </div>
                        <h2>Please - no instruments through the P.A.</h2>
                        <p>The P.A. is intended for singing-vocal microphones only.
                        If you intend to amplify guitars, bass guitars, drum mics, drum machines, drum triggers, samples,
                        sequencers, keyboards or anything else - please supply your OWN special amplifier or P.A. system.
                        UNFORTUNATELY - we don't allow mics on drumsets, or any drum-triggers in our P.A.
                        The P.A. and adjoining microphones, mic stands & cords, drum set, bass, and guitar
                        amplifiers are all available to use - EQUIPMENT.
                        Other gear may be used only by specific permission with possible additional rates
                        (guitars, electric piano, acoustic guitar amps, special PRO-electric guitar amps, etc.)</p>  
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-people-carry iconMargin"></i>
                        </div>
                        <h2>Please pack out your gear!</h2>  
                        <p>There are many other bands rehearsing here.
                        We CANNOT insure or magically guarantee the safety of unlabelled equipment or personal items left in this studio.
                        Best idea, if you value it, don't leave it. If you think you've left an item, CALL US! Don't call after 3 weeks,
                            and wonder "where's my cowbell" (for real, it happened...). 
                        Sorry... DO speak up if you have a valid concern though... </p>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="far fa-thumbs-down iconMargin"></i>
                            <i class="fas fa-volume-up iconMargin"></i>
                        </div>
                        <h2>Crazy, crazy sound levels and/or douchy behavior can't be tolerated here.</h2> 
                        <p>This is a facility for recording and rehearsal, it's not a concert hall, or play-pen for dodgy behavior.
                        Also keep your guests to a minimum. No full blown parties without permission... THANKS... </p>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-camera-retro iconMargin"></i>
                        </div>
                        <h2>Photo shoots, special/social events and/or video "shoots" may require extra payment.
                        Please let us know in advance if you plan to use our facility for your event.</h2> 
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-money-bill-wave iconMargin"></i>
                            <i class="fas fa-arrow-right iconMargin"></i>
                            <i class="far fa-envelope-open iconMargin"></i>
                        </div>
                        <h2>Pay the pay box in between the studio doors</h2>
                        <h3>(checks do NOT need envelopes, Venmo is "Karl Grossman"):</h3> 

                        <p>Please use our new "mini" pay envelopes! Just put your name or band-name
                        on the envelope and pop it in the box!</p> 

                        <p>It's pretty simple - Bands with an unpaid "balance" can't book again until they've settled up. No Popeye's Wimpy saying - "I'll gladly pay you Tuesday for a rehearsal today". Sorry, no tabs! No "partial payments" will be accepted. Partial payments are not counted and will be returned to you. Only full payments are accepted.</p> 
                        <p>Your priority to book is actually based on the past result of your part of the
                        agreement, respect of the facility and payment in full. Like a punk song, simple but powerful!
                        99% of our bands are respectful and this is not even an issue... Thank you!!! Peace!!</p> 
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="far fa-clock iconMargin"></i>
                        </div>
                        <h2>Please realize that if you book from, say, 2-5pm you must be fully packed OUT at 5pm !! </h2> 
                        <p>It does NOT mean you can play until 5pm then leasurely pack up and leave... In my experiece you need to allow approx 8 to 10 minutes MORE than YOU think to pack, clean-up, and load out (see rule 7.). Word up - we WILL find out if you've been cutting into the "next band's" time... If someone's consistantly abusing YOUR "entrance" time, just let us know...</p> 
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-glass-cheers iconMargin"></i>
                        </div>
                        <h2>Please use the drink holders!!...</h2>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <img id="gum" src="gum.svg" alt="">
                            <i class="fas fa-arrow-right iconMargin"></i>
                            <i class="fas fa-ban iconMargin"></i>
                        </div>
                        <h2>No Gum Chewing Allowed Here!!!</h2>
                        <p>Leave it cleaner than when you came!</p>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-user-tag iconMargin"></i>
                        </div>
                        <h2>Anything you bring in here needs to be labeled with your name on it!!!</h2>
                        <p>You'd be surprised what's been left here (weirdest thing listed at end of section)...</p>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-car-side iconMargin"></i>
                            <i class="fas fa-truck-loading iconMargin"></i>
                        </div>
                        <h2>Please park in an assigned space!!!</h2>
                        <p>You can load in right next to the door, but Don't leave your car in the road! Or you'll cause "neighbor-wrath"...</p>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-tasks iconMargin"></i>
                        </div>
                        <h2>Please run a FINAL CHECK before you leave:</h2> 
                        <ul>
                            <li>Pay the box?</li>
                            <li>Put the microphones back.</li>
                            <li>Wrap and hang up microphone cords</li>
                            <li>Make sure the P.A. is OFF.</li>
                            <li>Pick up your trash and deposit in trash cans or even better, empty it in the DUMPSTER...                        (conveniently - right outside the door!)...
                        <p>That means, earplugs, beer bottle caps (can't be vacuumed up), chip bags, broken picks,
                        broken strings (they break the vacuum belt), etc, etc, etc.... And please don't leave your half full
                        beer bottle/cans laying around DRINK 'EM OR DRAIN 'EM.... Be warriors! Drink the brew all the way down and
                        slam it in the trash can, spud!! But, watch out for John E. Law - you've been warned. THANKS.</p>
                            </li>
                            <li>Take your goods! Ever hear the term "stupid check"? All pros know the term, because we've ALL been stupid at least once! </li>
                        </ul>
                    </li>
                    <li class="rulesCard width30Percent blackBG">
                        <div class="flexRow justifyCenter blueBG">
                            <i class="fas fa-guitar iconMargin"></i>
                            <i class="fas fa-music iconMargin"></i>
                        </div>
                        <h2>Last rule, our best and most fun rule... Jam well people, yes, jam WELL!!!!</h2> 
                    </li>
                </ul>
            </div>
            <div>
                <p>Ok, yes, one time someone left a little vial of "spirit gum" here.</p>
                <p>Know what "spirit gum" is used for? Yes, it's used to put on fake mustaches and beards in Broadway musicals. Strange, no one called about it. Seen it all... </p>
            </div>
            
        </section>

        <section id="rates">
            <div class="rateTitleContainer negativeSkew">
                 <h1 class="rateTitle">Rates</h1>
            </div>
            <div>
                <h2> Music Focus™ "Abalone Lounge" rehearsal rates are as follows:</h2>
                {{!-- <ul>
                    <li>1 hour - $32.ºº (example. 5-6pm)</li>
                    <li>2 hours - $43.ºº (ex. 6-8pm)</li>
                    <li>3 hours - $54.ºº (ex. 6-9pm) [**best value**]</li>
                    <li>4 hours - $65.ºº (ex. 4-8pm)</li>
                    <li>5 hours - $87.ºº (ex. 2-7pm)</li>
                    <li>6 hours - $99.ºº (ex. 3-9pm)</li>
                    <li>7 hours - $118.ºº (ex. 3-10pm)</li>
                    <li>8 hours - $133.ºº (ex. 2-10pm) </li>
                </ul> --}}
            </div>
            <div class="flexColumnCenter lessonPackages greenBG">
                    <h3>Rehearsal Rates</h3>
                    <ul class="priceGrid">
                        <li>
                            <p class="price">$32</p>
                            <p class="classPack">1 hour</p>
                        </li>
                        <li>
                            <p class="price">$43</p>
                            <p class="classPack">2 hours</p>
                        </li>
                        <li>
                            <p class="price">$54</p>
                            <p class="classPack">3 hours</p>
                        </li>
                        <li>
                            <p class="price">$65</p>
                            <p class="classPack">4 hours</p>
                        </li>
                        <li>
                            <p class="price">$87</p>
                            <p class="classPack">5 hours</p>
                        </li>
                        <li>
                            <p class="price">$99</p>
                            <p class="classPack">6 hours</p>
                        </li>
                        <li>
                            <p class="price">$118</p>
                            <p class="classPack">7 hours</p>
                        </li>
                        <li>
                            <p class="price">$133</p>
                            <p class="classPack">8 hours</p>
                        </li>
                        <li>
                            {{!-- <p class="price">$133</p>
                            <p class="classPack">8 hours</p> --}}
                        </li>

                    </ul>

                </div>
            <div>
                <div>
                    <h2>This is a "pay as you play" facility, if you book, it is assumed, you will
                    pay on the day you play, no exceptions</h2>
                </div>
                <section class="flexRow flexWrap justifySpaceEvenly width100Percent">
                    <div class="rulesCard alignCenter width30Percent blackBG">
                        <div class="rateTitleContainer flexRow justifyCenter">
                            <i class="fas fa-money-bill-alt iconMargin"></i>
                        </div>
                        <h2>CASH</h2>
                        
                        <ul>
                            <li>For cash payment, use "mini" pay envelopes! </li>
                            <li>Just put your name and date, or your "band-name" and date on the envelope and pop it in the box!</li>
                            <li>If there IS a NAME on an envelope, just scratch it out and write YOUR band name!</li>
                            <li>Your cash receipts are on file - if you did not obtain it, please just ask...</li>
                        </ul>
                    </div>
                    <div class="rulesCard alignCenter width30Percent blackBG">
                        <div class="rateTitleContainer flexRow justifyCenter">
                            <i class="fas fa-money-check-alt iconMargin"></i>
                            
                        </div>
                        <h2>CHECK</h2>
                        <ul>
                            <li>If you're paying by check please DO NOT use an envelope.</li>
                            <li>We try to deposit your check as quickly as possible.</li>
                            <li>Make Checks payable to "Music Focus", your cancelled check is your receipt</li>
                            <li>We don't write out receipts for checks, just cash...</li>
                        </ul>
                    </div>
                    <div class="rulesCard alignCenter width30Percent blackBG">
                        <div class="rateTitleContainer flexRow justifyCenter">
                            <img class="iconMargin" src="venmo.svg" alt="">
                        </div>
                        <h2>VENMO </h2>
                        <ul>
                            <li>"Karl Grossman"</li>
                        </ul>
                    </div>
                </section>
                <div>
                    <div class="rateTitleContainer">
                        <h2>ATTENTION!</h2> 
                    </div>
                    <p>There is now a 4 day "lock down" confirmation time zone.</p> 
                    <p>This is a "pay as you play" facility, if you book, you agree to pay on the day you booked.</p> 
                </div>
                <div>
                    <h3>Managers, agents, and/or record companies:</h3>
                    <p>Unfortunately, we cannot offer you, or your clients, any sort of "credit" or "tab" account. All bands/bookers must pay as they play. No exceptions. 
                    <br>Make checks payable to: "Music Focus". Thank you.</p> 
                </div>
            </div>
        </section>

        <section id="equipment">
            <div id="equipmentTitleContainer">
                    <h1 id="equipmentTitle">Equipment</h1>
            </div>
            <section>
                <div>
                    <div class="instrumentContainer">
                        <h2 class="instrumentTitle">DRUMS & SIZES:</h2>
                    </div>
                    <p>We offer an acoustic Drumset for use:</p> 
                    <p>If you want to use and play your electronic drums, you MUST bring your own amplifier-rig to do so. We don't allow "mic'd drums" or "drum machines" through our PA.</p>

                    <p>If this changes we will update this page...</p>

                    <h3>"Peace" Custom drum set</h3>
                    <ul>
                        <li>"Pork Pie" Snare - 14" & stand</li>
                        <li>Tom small - 10"</li>
                        <li>Tom middle - 12"</li>
                        <li>Tom Large (floor) - 14"</li>
                        <li>Bass Drum - 22" (this thing is BIG)</li>
                        <li>bass drum (B-grade Bass drum single kick pedal)</li>
                        <li>throne</li>
                        <li>hi-hat unit w/ Hi Hat cymbals - 13"</li>
                        <li>3 cymbal stands. (3 B-Grade cymbals)</li>
                    </ul>

                    <h2>IF YOU BREAK A DRUM HEAD, or something comes 'undone', please LET US KNOW CALL/TEXT/MSG 310.9999.275 (or 310.ZZZZ.ASK).</h2> 
                    <p>It happens, you're not  'in trouble' just LET US KNOW. We have little orange drum-people who come fix things in the night, see...</p> 
                
                    <h3>DRUMMERS - CONSIDER BRINGING:</h3>
                    <ul>
                        <li>BASS DRUM Pedal - We supply a B grade bass drum pedal. We strongly encourage you to bring your own "A-grade" BDP!</li>
                        <li>Front line cymbals - We do supply 3 B-grade cymbals. We strongly encourage you to bring your own "A-grade" cymbals!</li>
                        <li>Your own sticks - WE DO HAVE "VADER - 5A drumstick" SETS FOR SALE ($10)</li>
                        <li>Your own drum key - WE DO NOT SUPPLY DRUM KEYS</li>
                        <li>If you DO bring your own hi-hat cymbals - bring YOUR OWN "clutch" too.</li>
                        <li>OUR CLUTCH-HAT ASSEMBLY CANNOT BE disassembled - our clutch/top-hat assembly is literally glued together, it cannot be re-purposed!!</li>
                        <li>If you don't know what a "clutch" is, just use our hi-hat as is.</li>
                        <li>Drummers, if you DO use our cymbals, Please DO NOT slam our cymbal edges with your stick shanks.</li>
                        <li>Cymbals will break if you do that. If you must slam the cymbal 'edges' with the stick shaft, PLEASE bring your OWN cymbals.</li>
                        <li>MOST of our cymbals are already broken, cymbals break, that's their job!</li>
                    </ul>
                    
                    <h2>If you DO plan to use your OWN drum kit, KINDLY, NICELY, set ours aside. Nicely, nicely, did I mention nicely?</h2>
                    <p> PLEASE KEEP OUR drum-kit nicely available for the next person! </p>
    
                </div>
                <div>
                    <div class="instrumentContainer">
                        <h2 class="instrumentTitle">Bass amp</h2>
                    </div>
                    <ul>
                        <li>Gallien Krueger 400RB head w/ cabinet</li>
                        <li>Cerwin Vega B-36 monster reverse loaded 18" reflex horn cabinet</li>
                    </ul>
                    <p>Donated by little purple bass-men - yes, friends of the little orange drum people! ("bass-men" are stout, with thick legs...)</p>

                    <h3>BASSISTS - Please:</h3> 
                    <p>IF YOU PLAY CRAZY LOUD and/or use that wild, new, CRAZY, SLAPPIN' 'n' POPPIN' FUNKY BASS STYLING - BRING YOUR OWN BASS RIG! OK?</p> 
                </div>
                <div>
                    <div class="instrumentContainer">
                        <h2 class="instrumentTitle">Guitars</h2>
                    </div>
                    <h3>We have many guitars for use.</h3>
                    <ul>
                        <li>Acoustic</li>
                        <li>SG</li>
                        <li>Stratocaster</li>
                        <li>Telecaster</li>
                        <li>"Acoustic-electric"</li>
                        <li>Bass</li>
                    </ul>
                    
                    <p>They're all decent replicas of standard classic rock guitars. </p>
                    <h3>GUITARISTS - PLEASE BRING:</h3>
                    <p>Please plan to bring a "good" regular guitar cord. Please do NOT bring a crappy molded plastic Walmart guitar cord (sorry Walmart, I do like your cashews)...
                    A bad guitar cord will break, sound terrible and possibly mess with our guitar amps, which you'll be responsible for. 
                    Good guitar cords are quite common. </p>  
                    <h3>ALWAYS PUT YOUR CORD 'BEHIND' YOUR GUITAR STRAP FOR SAFETY AND protection of your/our guitars</h3> 
                    <h3>THIS IS ESSENTIAL OR YOU'LL BE ASKED TO NOT USE OUR GUITARS.</h3> 
                    <p>IF you don't stress relieve (put the cord behind the strap) while you play, you'll most likely- 1. embarrass yourself by unplugging
                    your guitar as you play your solo... 2. BREAK your/our guitar jack causing personal embarrassment and monetary embarrassment.
                    If you'd like to hear about MY embarrassing "cord unpluggage" episode on stage at the Troubadour in 1977, happy to oblidge!</p> 

                    
                </div>
                <div>
                    <div class="instrumentContainer">
                        <h2 class="instrumentTitle">Amps</h2>
                    </div>
                    <h3>Guitar Amps</h3>
                    <ul>
                        <li>Randall - 2x12" 80 watt with reverb. House amp #1</li>
                        <li>Marshall - 1x8" 20 watt with. House amp #2</li>
                        <li>Randall - 1x12" 75 watt with reverb. House amp #3</li>
                    </ul>
                    <h3>Keyboard Amp</h3>
                    <ul>
                        <li>2x12" nice amp!</li>
                    </ul>
                    <p>More special guitar/acoustic/keyboard amps are available, but might increase your 'rent charge.' Please ask!</p> 
                </div>
                <div>
                    <div class="instrumentContainer">
                        <h2 class="instrumentTitle">PA System</h2>
                    </div>
                    <ul>
                        <li>Bringer Eurorack MX 2004A, 12 Channel mix</li>
                        <li>QSC Audio USA 850 Power amp (stereo)</li>
                        <li>TOA 380SE speakers (3 way)</li>
                        <li>Alesis Nanoverb fx</li>
                    </ul>

                    <h3>NOTE: PA SYSTEM IS FOR VOCALS, SINGING MICROPHONES ONLY <br>
                    (NO DRUMS or Drumming Machines allowed into the PA, I repeat...)</h3>
                </div>
            </section>
        </section>

        <section id="room">
            <section id="roomTitleContainer">
                 <h1 id="roomTitle">Room</h1>
            </section>
            <div>
                <h2>"Abalone Lounge" Dimensions, Specifications:</h2>
                <ul>
                    <li>432 sq ft AIR CONDITIONED, carpeted, sound absorbant, high ceiling, rehearsal facility</li>
                    <li>Room length & width - 27' x 16'-6"</li>
                    <li>Ceiling height - 11'-6" (this makes the room seem even bigger!!!)</li>
                    <li>Skylight - 4' x 4' (obviously inconsequential at night, but nice for day practices)</li>
                    <li>Bathroom - 3'-6" x 7'-2"' (Yes, these are the specs to the toilet!) Nice, nice b-room, check it out!</li>
                </ul>

                <p>Door - Our door exits onto a paved parking lot (no stairs!!!).</p>
                

            </div>
        </section>

    </main>

    {{> footer}}
  </body>
</html>