<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="rehearsalStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
  </head>
  <body>
          {{> header}}
    <main>
        <div id="bookContainer">
            <p>TO BOOK - Talk/text (310) 999-9275 (that's - 310.ZZZZ.ASK) [We prefer texting, it's faster...], or </p>
            <img src="/musicfocus_emal.jpg" alt="">
        </div>

        <div id="rehearsalNav">
                <div id="signContainer">
                    <img src="abalone-sign.jpg" alt="">
                </div>
                <ul>
                    <li><a href="#schedule">Current Schedule</a></li>
                    <li><a href="#rules">Rules</a></li>
                    <li><a href="#rates">Rates</a></li>
                    <li><a href="#equipment">Equipment</a></li>
                    <li><a href="#room">Room Specs</a></li>
                </ul>
        </div>

        <div id="loungeLeadContainer">
            <div>
                <div id="loungeLeadTitleContainer">
                    <h2 id="loungeLeadTitle"> Welcome to The "Abalone Lounge" / Music Focus™ rehearsal / training hall!</h2>
                </div>
                <div class="loungeSubLead">
                    <p>Thank you for choosing our facility to enhance and further your progress.</p> 
                </div>
                <div class="loungeSubLead1">
                    <p>We commit to bringing you a working, clean, private facility. </p> 
                </div>
            </div>
        </div>

        
        <section id="schedule">

        </section>

        <section id="rules">
            <div id="rulesVideo">
                <div>
                    <h2>IF YOU'RE NEW TO OUR STUDIO<br> YOU MUST WATCH THIS VIDEO</h2>
                    <p>(NOT AN OPTION)</p>
                    <h2>AND ALL YOUR BAND MEMBERS.<br> I'M HAPPY TO TEXT IT TO YOU</h2>
                    <p>(PROBABLY ALREADY DID...):</p>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/g7siaLxOTNE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="biggestRule">
                 <div class="img1">
                    <img src="Door1.png" alt="">
                </div>
                <div class="img2">
                    <img src="Door2.png" alt="">
                </div>
                <div class="doorText">
                    <h2>The BIGGEST RULE OF ALL - Close both outer doors when you are playing.</h2> 
                    <h2>NEW PROCEDURE: <br> Lock both doors</h2> 
                    <p>Please "sound check" with the doors closed. Respect our neighbors.</p> 
                </div>
               
                
            </div>
            <div>
                <ol>
                    <li>
                        Please - no instruments through the P.A. The P.A. is intended for singing-vocal microphones only.
                        If you intend to amplify guitars, bass guitars, drum mics, drum machines, drum triggers, samples,
                        sequencers, keyboards or anything else - please supply your OWN special amplifier or P.A. system.
                        UNFORTUNATELY - we don't allow mics on drumsets, or any drum-triggers in our P.A.
                        The P.A. and adjoining microphones, mic stands & cords, drum set, bass, and guitar
                        amplifiers are all available to use - EQUIPMENT.
                        Other gear may be used only by specific permission with possible additional rates
                        (guitars, electric piano, acoustic guitar amps, special PRO-electric guitar amps, etc.) 
                    </li>
                    <li>
                        There are many other bands rehearsing here, please pack out your gear!
                        We CANNOT insure or magically guarantee the safety of unlabelled equipment or personal items left in this studio.
                        Best idea, if you value it, don't leave it. If you think you've left an item, CALL US! Don't call after 3 weeks,
                            and wonder "where's my cowbell" (for real, it happened...). 
                        Sorry... DO speak up if you have a valid concern though... 
                    </li>
                    <li>
                        Crazy, crazy sound levels and/or douchy behavior can't be tolerated here.
                        This is a facility for recording and rehearsal, it's not a concert hall, or play-pen for dodgy behavior.
                        Also keep your guests to a minimum. No full blown parties without permission... THANKS... 
                    </li>
                    <li>
                        Photo shoots, special/social events and/or video "shoots" may require extra payment.
                        Please let us know in advance if you plan to use our facility for your event. 
                    </li>
                    <li>
                        Pay the pay box in between the studio doors (checks do NOT need envelopes, Venmo is "Karl Grossman"):

                        Please use our new "mini" pay envelopes! Just put your name or band-name
                        on the envelope and pop it in the box!

                        It's pretty simple - Bands with an unpaid "balance" can't book

                        again until they've settled up. No Popeye's Wimpy saying -

                        "I'll gladly pay you Tuesday for a rehearsal today". Sorry, no tabs!

                        No "partial payments" will be accepted. Partial payments are

                        not counted and will be returned to you. Only full payments are accepted.
                        Your priority to book is actually based on the past result of your part of the
                        agreement, respect of the facility and payment in full. Like a punk song, simple but powerful!
                        99% of our bands are respectful and this is not even an issue... Thank you!!! Peace!!
                    </li>
                    <li>
                        Please realize that if you book from, say, 2-5pm you must be fully packed OUT at 5p !! It does NOT mean you can play until 5p then leasurely pack up and leave... In my experiece you need to allow approx 8 to 10 minutes MORE than YOU think to pack, clean-up, and load out (see rule 7.). Word up - we WILL find out if you've been cutting into the "next band's" time... If someone's consistantly abusing YOUR "entrance" time, just let us know...
                    </li>
                    <li>
                        Please run a FINAL CHECK before you leave:
                        · Put the microphones back.
                        · Wrap and hang up microphone cords
                        * Pay the box?
                        · Make sure the P.A. is OFF.
                        · Pick up your trash and deposit in trash cans or even better, empty it in the DUMPSTER...
                        (conveniently - right outside the door!)...
                        That means, earplugs, beer bottle caps (can't be vacuumed up), chip bags, broken picks,
                        broken strings (they break the vacuum belt), etc, etc, etc.... And please don't leave your half full
                        beer bottle/cans laying around DRINK 'EM OR DRAIN 'EM.... Be warriors! Drink the brew all the way down and
                        slam it in the trash can, spud!! But, watch out for John E. Law - you've been warned. THANKS.
                        · Take your goods! Ever hear the term "stupid check"? All pros know the term, because we've ALL been stupid at least once! 
                    </li>
                    <li>
                        Last rule, our best and most fun rule... Jam well people, yes, jam WELL!!!!
                    </li>
                </ol>
            </div>
            
        </section>

        <section id="rates">
            
        </section>

        <section id="equipment">
            
        </section>

        <section id="room">
            
        </section>

    </main>

  </body>
</html>