<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Focus - {{pageTitle}}</title>
    <link rel="stylesheet" href="songList.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Prompt|Roboto|Teko|Roboto:900" rel="stylesheet"> 
  </head>
  <body onload="getSongData()">
          {{> header}}
    <main>

      <div id="searchBar" class="blueBG">
        <label>Everything</label>
        <input oninput="searchAll()" id="all" type="text">
        <label>Artist</label>
        <input oninput="searchArtist()" id="artist" type="text">
        <label>Song Title</label>
        <input oninput="searchSong()" id="songTitle" type="text">
        
      </div>

      <div id="root"></div>
      <script src="songListSearch.js"></script>
    </main>

    {{> footer}}
  </body>
</html>