main{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;
}

#updateBookingsRoot div{
    padding: 1rem;
}

#orders{
    min-height: 200px;
}

.orderCard{
    padding: 1rem;
    background-color: var(--off-black-color);
    border-bottom: 1px solid var(--white-color);
}

.canceledBG{
   background-color: var(--orange-color);
}

.shippedBG{
    background-color: var(--green-color);
}

.buttonStd{
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
}

.shippingAddress{
    padding: 1rem;
}

.shippingAddress p{
    border-bottom: 1px solid white;
}
