body{
    font-family: Roboto;
    max-width: 100%;
}

#bookContainer{
    display: flex;
    align-items: center;
    background-color: var(--blue-color);
    color: var(--var(--white-color)-color);
    font-family: Prompt;
    justify-content: center;
    padding: 0;
}


#lessonsLeadContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(lesson-room.jpg) ;
    background-position: 50% 35%;
    height: 65vh;
}

#lessonsLeadTitleContainer{

    background-color: var(--blue-color);
    width: 100%;
    text-align: center;
    transform: skewX(-20deg);
}

#lessonsLeadTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
}

.lessonsSubLead{
    width: 100%;
    display: flex;
    justify-content: center;
}

.lessonsSubLead1 p{
    width: 60%;
    background-color: var(--black-color);
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

.lessonsSubLead1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.lessonsSubLead1 p{
    width: 50%;
    background-color: var(--black-color);
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

#lessonsNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#lessonsNav ul{
    list-style: none;
}

#lessonsNav ul li:hover{
    color: var(--blue-color);
}

#intro{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#intro div, #policy div, #rates div, #holidays div{
    width: 80%;
}

#karlPic{
    border-radius: 15px;
}

@media only screen and (max-width: 1050px) {

}

@media only screen and (max-width: 600px) {
    #lessonsNav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #lessonsNav ul{
        width: 100%;
        padding: 0;
    }

    #lessonsNav li{
        text-align: center;
        width: 100%;
        font-size: 2rem;
        border-top: 2px var(--blue-color) solid;
        border-bottom: 2px var(--blue-color) solid;
        margin: 10px 0px;
    }

}

@media only screen and (max-width: 400px) {

}
