#productMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Roboto;
}

#pictureTube{
    display: flex;
    width: 80%;
}

#pictureTubeTitleContainer{

    background-color: var(--blue-color);
    text-align: center;
    transform: skewX(-20deg);
    width: 80%;
}

#pictureTubeTitleContainer h2{
    transform: skewX(20deg);
    letter-spacing: 2px;
    font-family: Prompt;
}

#pictureTubeLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#pictureTubeLeft div ol li{
    line-height: 1.4;
}

#pictureTubeRight{
    width: 100%;
}

#pictureTubeRight p{
    word-spacing: 1px;
}

#pictureTubeSpacer{
    background-color: var(--blue-color);
    height: 2px;
    width: 80%;
    margin-top: 20px;
}

#xmasKarl{
    display: flex;
    width: 80%;
    margin-top: 50px;
}

#xmasKarlLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
}   

#xmasKarlRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#xmasKarlTitleContainer{

    background-color:  var(--green-color);
    text-align: center;
    transform: skewX(-20deg);
    width: 50%;
}

#xmasKarlTitleContainer h2{
    transform: skewX(20deg);
    letter-spacing: 2px;
    font-family: Prompt;
}

#xmasKarlSpacer{
    background-color: var(--green-color);
    height: 2px;
    width: 80%;
    margin-top: 20px;
}

#soloScapes{
    display: flex;
    width: 80%;
    margin-top: 50px;
}

#soloScapesLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#soloScapesRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#soloScapesTitleContainer{

    background-color: var(--purple-color);
    text-align: center;
    transform: skewX(-20deg);
    width: 40%;
}

#soloScapesTitleContainer h2{
    transform: skewX(20deg);
    letter-spacing: 2px;
    font-family: Prompt;
}

#soloScapesSpacer{
    background-color: var(--purple-color);
    height: 2px;
    width: 80%;
    margin-top: 20px;
}

#caged{
    display: flex;
    width: 80%;
    margin-top: 50px;
}

#cagedLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#cagedLeft div img{
    width: 30%;
}

#cagedRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#cagedTitleContainer{
    background-color: var(--blue-color);
    text-align: center;
    transform: skewX(-20deg);
    width: 60%;
}

#cagedTitleContainer h2{
    transform: skewX(20deg);
    letter-spacing: 2px;
    font-family: Prompt;
}

#cagedSpacer{
    background-color: var(--blue-color);
    height: 2px;
    width: 80%;
    margin-top: 20px;
}

#campfire{
    display: flex;
    width: 80%;
    margin-top: 50px;
}

#campfireLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#campfireLeft div img{
    width: 50%;
}

#campfireRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}



#campfireTitleContainer{
    background-color: var(--orange-color);
    text-align: center;
    transform: skewX(-20deg);
    width: 80%;
}

#campfireTitleContainer h2{
    transform: skewX(20deg);
    letter-spacing: 2px;
    font-family: Prompt;
}

#campfireSpacer{
    background-color: var(--orange-color);
    height: 2px;
    width: 80%;
    margin-top: 20px;
}

#campfireSongsGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "songsLeft songsRight";
    width: 100%;
    justify-content: center;
}

details summary:hover{
    color: var(--orange-color);
}



#jazzPorch{
    display: flex;
    width: 80%;
    margin-top: 50px;
}

#jazzPorchLeft{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#jazzPorchLeft div img{
    width: 30%;
}

#jazzPorchRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#jazzPorchTitleContainer{
    background-color: var(--purple-color) ;
    text-align: center;
    transform: skewX(-20deg);
    width: 60%;
}

#jazzPorchTitleContainer h2{
    transform: skewX(20deg);
    letter-spacing: 2px;
    font-family: Prompt;
}

#jazzPorchSpacer{
    background-color: var(--purple-color) ;
    height: 2px;
    width: 80%;
    margin-top: 20px;
}

#jazzPorchRight div details summary:hover{
    color: var(--purple-color);
}

#jazzSongsGrid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "songsLeft songsRight";
    width: 100%;
    justify-content: center;
}

@media only screen and (max-width: 1050px) {

    #pictureTube{
        flex-direction: column;
        align-items: center;
    }

    #pictureTubeLeft div{
        display: flex;
    }

    #pictureTubeLeft p{
        text-align: center;
    }

    #pictureTubeTitleContainer{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    #pictureTubeTitleContainer h2{
        text-align: center;
    }

    #xmasKarl{
        flex-direction: column;
        align-items: center;
    }

    #xmasKarlLeft div{
        display: flex;
    }

    #xmasKarlLeft p{
        text-align: center;
    }

    #xmasKarlTitleContainer{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    #xmasKarlTitleContainer h2{
        text-align: center;
    }

    #soloScapes{
        flex-direction: column;
        align-items: center;
    }

    #soloScapes div{
        display: flex;
    }

    #soloScapes p{
        text-align: center;
    }

    #soloScapesTitleContainer{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    #soloScapesTitleContainer h2{
        text-align: center;
    }

    #caged{
        flex-direction: column;
        align-items: center;
    }

    #caged div{
        display: flex;
    }

    #caged p{
        text-align: center;
    }

    #cagedTitleContainer{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    #cagedTitleContainer h2{
        text-align: center;
    }

    #campfire{
        flex-direction: column;
        align-items: center;
    }

    #campfire div{
        display: flex;
    }

    #campfire p{
        text-align: center;
    }

    #campfireTitleContainer{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    #campfireTitleContainer h2{
        text-align: center;
    }

    #jazzPorch{
        flex-direction: column;
        align-items: center;
    }

    #jazzPorch div{
        display: flex;
    }

    #jazzPorch p{
        text-align: center;
    }

    #jazzPorchTitleContainer{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    
    #jazzPorchTitleContainer h2{
        text-align: center;
    }


}

@media only screen and (max-width: 850px) {
    #pictureTubeLeft div{
        flex-direction: column;
    }

    #xmasKarlLeft div{
        flex-direction: column;
    }

    #soloScapesLeft div{
        flex-direction: column;
    }

    #cagedLeft div{
        flex-direction: column;
    }

    #campfireLeft div{
        flex-direction: column;
    }

    #jazzPorchLeft div{
        flex-direction: column;
    }

    #jazzPorchRight div{
        width: 100%;
        justify-content: center;
    }

    #campfireSongsGrid, #jazzSongsGrid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .songsLeft, .songsRight{
        margin: 0 auto;
        padding: 0;
        width: 45%;

    }


    .albumArt{
        display: flex;
        align-items: center;
    }

    .albumArt img{
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 400px) {
    #pictureTubeTitleContainer{
        width: 95%;
    }
    
    #pictureTubeTitleContainer h2{
        font-size: 1.3rem;
    }

    #xmasKarlTitleContainer{
        width: 95%;
    }
    
    #xmasKarlTitleContainer h2{
        font-size: 1.3rem;
    }

    #soloScapesTitleContainer{
        width: 95%;
    }
    
    #soloScapesTitleContainer h2{
        font-size: 1.3rem;
    }

    #cagedTitleContainer{
        width: 95%;
    }
    
    #cagedTitleContainer h2{
        font-size: 1.3rem;
    }

    #campfireTitleContainer{
        width: 95%;
    }
    
    #campfireTitleContainer h2{
        font-size: 1.3rem;
    }

    #jazzPorchTitleContainer{
        width: 95%;
    }
    
    #jazzPorchTitleContainer h2{
        font-size: 1.3rem;
    }
}