body{
    font-family: Roboto;
    max-width: 100%;
}

#loungeLeadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(abalone-lounge-1.jpg) ;
    background-position: 50% 65%;
    height: 70vh;
}

#loungeLeadTitleContainer{

    background-color: #00b6de;
    width: 100%;
    text-align: center;
    transform: skewX(-20deg);
}

#loungeLeadTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
}

.loungeSubLead{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loungeSubLead p{
    width: 60%;
    background-color: black;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

.loungeSubLead1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loungeSubLead1 p{
    width: 50%;
    background-color: black;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

#bookContainer{
    display: flex;
    align-items: center;
    background-color: #00b6de;
    color: white;
    font-family: Prompt;
    justify-content: center;
    padding: 0;
}

#bookContainer img{
    margin-left: 15px;

}

#bookContainer p{
    margin: 10px;

}

#karlEngineerPic{
    border-radius: 15px;
}

#setup{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#setup div{
    width: 80%;
}


#preparation{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#preparation div{
    width: 80%;
}

#post{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#post div{
    width: 80%;
}

.subTitleContainer{
    background-color: #93c13c;
    width: 20%;
    transform: skewX(-20deg);
}

.subTitleContainer h2{
    text-align: center;
}

.subTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#rates div ul{
    list-style: none;
}

#equipment{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#equipment div{
    width: 80%;
}


#equipmentTitleContainer{
    background-color: #fa743d;
    width: 20%;
    transform: skewX(-20deg);
}

#equipmentTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

.instrumentContainer{
    background-color: #fa743d;
    width: 20%;
    transform: skewX(-20deg);
}

.instrumentTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

#reference{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reference div{
    width: 80%;
}

#referenceTitleContainer{
    background-color: #664595;
    width: 20%;
    transform: skewX(-20deg);
}

#talentList{
    list-style: none;
    line-height: 1.5;
}

#referenceTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#rehearsalNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rehearsalNav ul{
    list-style: none;
}

#rehearsalNav ul li:hover{
    color: #00b6de;
}