body{
    font-family: Roboto;
    max-width: 100%;
}

#loungeLeadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(abalone-lounge-1.jpg) ;
    background-position: 50% 65%;
    height: 70vh;
}

#loungeLeadTitleContainer{

    background-color: var(--blue-color);
    width: 100%;
    text-align: center;
    transform: skewX(-20deg);
}

#loungeLeadTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
}

.loungeSubLead{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loungeSubLead p{
    width: 60%;
    background-color: #000;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

.loungeSubLead1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loungeSubLead1 p{
    width: 50%;
    background-color: #000;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

#bookContainer{
    display: flex;
    align-items: center;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: Prompt;
    justify-content: center;
    padding: 0;
}

#bookContainer img{
    margin-left: 15px;

}

#bookContainer p{
    margin: 10px;

}

#karlEngineerPic{
    border-radius: 15px;
}

#setup{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#setup div{
    width: 80%;
}


#preparation{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.4;
}

.preparationCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.preparationCard{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em 0px;
    padding: 1em;
    width: 40%;
}

.preparationCard i{
    font-size: 3rem;
}

#post{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#post div{
    width: 80%;
}

.subTitleContainer{
    background-color: var(--green-color);
    width: 20%;
    transform: skewX(-20deg);
}

.subTitleContainer h2{
    text-align: center;
}

.subTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#rates div ul{
    list-style: none;
}

#equipment{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#equipment div{
    width: 80%;
}


#equipmentTitleContainer{
    background-color: var(--orange-color);
    width: 20%;
    transform: skewX(-20deg);
}

#equipmentTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

.instrumentContainer{
    background-color: var(--orange-color);
    width: 20%;
    transform: skewX(-20deg);
}

.instrumentTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

#reference{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#reference div{
    width: 80%;
}

#referenceTitleContainer{
    background-color: var(--purple-color);
    width: 20%;
    transform: skewX(-20deg);
}

#talentList{
    list-style: none;
    line-height: 1.5;
}

#referenceTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#recordingNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#recordingNav ul{
    list-style: none;
}

#recordingNav ul li:hover{
    color: var(--blue-color);
}

@media only screen and (max-width: 1050px) {

}

@media only screen and (max-width: 800px) {


}

@media only screen and (max-width: 600px) {
    .preparationCardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .preparationCard{
        width: 80%;
    }

    #recordingNav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #recordingNav ul{
        width: 100%;
        padding: 0;
    }

    #recordingNav li{
        text-align: center;
        width: 100%;
        font-size: 2rem;
        border-top: 2px var(--blue-color) solid;
        border-bottom: 2px var(--blue-color) solid;
        margin: 10px 0px;
    }

}

@media only screen and (max-width: 400px) {

}