body{
    font-family: Roboto;
    max-width: 100%;
}

#loungeLeadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(abalone-lounge-1.jpg) ;
    background-position: 50% 65%;
    height: 70vh;
}

#loungeLeadTitleContainer{

    background-color: #00b6de;
    width: 100%;
    text-align: center;
    transform: skewX(-20deg);
}

#loungeLeadTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
}

.loungeSubLead{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loungeSubLead p{
    width: 60%;
    background-color: black;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

.loungeSubLead1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loungeSubLead1 p{
    width: 50%;
    background-color: black;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    
}

#bookContainer{
    display: flex;
    align-items: center;
    background-color: #00b6de;
    color: white;
    font-family: Prompt;
    justify-content: center;
    padding: 0;
}

#bookContainer img{
    margin-left: 15px;

}

#bookContainer p{
    margin: 10px;

}

#schedule{

}

.sectionTitleContainer{
    background-color: #00b6de;
    width: 20%;
    transform: skewX(-20deg);
}

.sectionTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center; 
}

#rules{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#rulesVideo{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#rulesVideo div{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#biggestRule{
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
"img1 img2 doorText";
    align-items: center;
    justify-content: center;
}

.img1 img, .img2 img{
    width: 100%;
}

.doorText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rates{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rateTitleContainer{
    background-color: #93c13c;
    width: 20%;
    transform: skewX(-20deg);
}

.rateTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#rates div ul{
    list-style: none;
}

#equipment{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#equipment section{
    width: 80%;
}


#equipmentTitleContainer{
    background-color: #fa743d;
    width: 20%;
    transform: skewX(-20deg);
}

#equipmentTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

.instrumentContainer{
    background-color: #fed106;
    width: 20%;
    transform: skewX(-20deg);
}

.instrumentTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

#room{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#roomTitleContainer{
    background-color: #ff43c0;
    width: 20%;
    transform: skewX(-20deg);
}

#roomTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

#rehearsalNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rehearsalNav ul{
    list-style: none;
}

#rehearsalNav ul li:hover{
    color: #00b6de;
}