#rehearsalScheduleRoot{

}

#lessonScheduleRoot{

}

.booking{
    padding: 0.3rem;
}

.weekLesson{
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--blue-color);
}

.weekRehearsal{
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--orange-color);
}

.dayLesson{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--off-white-color);
    min-width: 100px;
    width: 15%;
    /* height: 30vh; */
}

.dayRehearsal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--off-white-color);
    min-width: 100px;
    width: 15%;
    /* height: 30vh; */
}

.dayLesson h2{
    background-color: var(--off-black-color);
    border-bottom: 1px solid var(--off-white-color);
}

.dayRehearsal h2{
    background-color: var(--off-black-color);
    border-bottom: 1px solid var(--off-white-color);
}

.dayLesson div{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--off-white-color);
}

.dayRehearsal div{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--off-white-color);
}

.day p{
    padding: 0px 5px;
    margin: 0;
}

i{
    font-size: 2.2rem;
    margin: 0px 20px;
}

.blueIcon:hover{
    color: var(--blue-color);
    text-shadow: 0px 0px 10px var(--blue-color);
}

.orangeIcon:hover{
    color: var(--orange-color);
    text-shadow: 0px 0px 10px var(--orange-color);
}

.scheduleSubTitle{
    width: 30%;
    text-align: center;
}

@media only screen and (max-width: 1050px) {

}


@media only screen and (max-width: 800px) {
    .weekLesson{
        min-height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--off-black-color);
    }

    .weekRehearsal{
        min-height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--off-black-color);
    }
    
    .dayLesson{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid var(--off-white-color);
        min-width: 100px;
        width: 80%;
        background-color: var(--blue-color);
    }

    .dayRehearsal{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid var(--off-white-color);
        min-width: 100px;
        width: 80%;
        background-color: var(--orange-color);
    }

}

@media only screen and (max-width: 600px) {


}

@media only screen and (max-width: 400px) {

}