#rehearsalScheduleRoot{

}

#lessonScheduleRoot{

}

.week{
    min-height: 40vh;
    width: 100%;
    display: flex;
}

.day{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--off-white-color);
    min-width: 160px;
    width: 15%;
    /* height: 30vh; */
}

.day h2{
    background-color: var(--off-black-color);
    border-bottom: 1px solid var(--off-white-color);
}

.day div{
    margin-bottom: 20px;
    border-bottom: 1px solid var(--off-white-color);
}

.day p{
    padding: 0px 5px;
    margin: 0;
}

i{
    font-size: 2.2rem;
    margin: 0px 20px;
}

.blueIcon:hover{
    color: var(--blue-color);
    text-shadow: 0px 0px 10px var(--blue-color);
}

.orangeIcon:hover{
    color: var(--orange-color);
    text-shadow: 0px 0px 10px var(--orange-color);
}

.scheduleSubTitle{
    width: 30%;
    text-align: center;
}