
@font-face{
    font-family: Bebas;
    src: url(BebasNeueBook.otf);
}

:root {
    --black-color: #000;
    --off-black-color: #222;
    --white-color: rgb(255,255,255);
    --off-white-color:#ecf6f8;
    --blue-color:#00b6de;
    --orange-color:#fa743d;
    --yellow-color:#fed106;
    --green-color:#93c13c;
    --purple-color: #664595;
    --pink-color:#ff43c0;

}



body{
    background-color: var(--black-color);
    color: var(--white-color);
    margin: 0;
}

#mainNav{
    display: flex;
    justify-content: center;
    align-items: center;
}

#superlead{
   font-family: Prompt; 
   font-size: 48px;
   text-align: center;
   margin: auto 30px;
   /*text-shadow: 0 0 5px var(--blue-color),0 0 10px var(--blue-color),0 0 15px var(--blue-color),0 0 20px var(--blue-color),0 0 25px var(--blue-color),0 0 15px #000;*/
}

#bannerContainer{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 100px;
}

#bookContainer{
    display: flex;
    align-items: center;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-family: Prompt;
    justify-content: center;
    padding: 0;
}

#leadContainer{
    border: 4px var(--blue-color) solid;
    margin: 0px 20%;
    padding: 10px;
    box-shadow: 0 0 5px var(--blue-color),0 0 10px var(--blue-color),0 0 15px var(--blue-color),0 0 20px var(--blue-color),0 0 25px var(--blue-color),0 0 15px #000;
    animation: containerShadow 1s infinite;
}

#leadLineTwo{
    border: 4px var(--blue-color) solid;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#leadBG{
    top: -96px;
    position: relative;
    margin: 0px 200px;
}


#lead{
    font-family: Prompt; 
    font-size: 64px;
    text-align: center;
    text-shadow: 0 0 5px var(--blue-color),0 0 10px var(--blue-color),0 0 15px var(--blue-color),0 0 20px var(--blue-color),0 0 25px var(--blue-color),0 0 15px #000;
    background-color: #000;
    animation: logoShadow 2s infinite;
 }

 #subLead{
    font-family: Prompt; 
    font-size: 40px;
    top: -96px;
    position: relative;
    text-align: center;
    margin: 0;
 }

 #leadButtons{
    display: flex;
    justify-content: center;
 }
 
 #leadButtons button{
    background-color: var(--orange-color); /* Green */
    border: none;
    color: white;
    font-family: Roboto;
    font-weight: 900;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px 40px;
    text-shadow: 2px 2px 4px #000;
    top: -40px;
    position: relative;
 }

 a{
     text-decoration: none;
     font-family: Roboto; 
     color: white;
     margin: auto 15px;
     padding: 10px 0px;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 a:hover{
     color: var(--blue-color);
     text-shadow: 0px 0px 10px var(--blue-color);
 }

.fs20{
     font-size: 20px;
}

.width20Percent{
    width: 20%;
}

.width40Percent{
    width: 40%;
}

.width80Percent{
    width: 80%;
}

.width90Percent{
    width: 90%;
}

.width100Percent{
    width: 90%;
}

.marginTop20px{
    margin-top: 20px;
}

.textCenter{
    text-align: center;
}

.sectionTitleContainerSkew{
    transform: skewX(-20deg);
}

.flexColumnCenter{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flexColumnCenter div{
    width: 80%;
}

.flexRow{
    display: flex;
}

.justifyCenter{
    justify-content: center;
}

.justifySpaceBetween{
    justify-content: space-between;
}

.lessonsContainer{
    font-family: prompt;
}

.halfHourMember{
    width: 45%;
}

.priceGrid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.priceGrid li{
    flex-basis: 30%;
}

.price{
    font-size: 3.2rem;
    line-height: 1.125;
    margin-bottom: 0.3rem;
    padding: 0;
}

.classPack{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.halfHourMember li{
    margin-bottom: 1.5rem;
    line-height: 1.285;
}

#halfHourMemberPricing{
    font-size: 3.2rem;
    line-height: 1.125;
    margin-bottom: 2.5rem;
}

.lessonPackages{
    width: 45%;
}

.lessonPackages h3{
    font-size: 3.2rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.sectionTitle{
    font-family: Prompt;
    transform: skewX(20deg);
    font-size: 2em;
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
    text-align: center; 
}

.subTitleContainerSkew{
    transform: skewX(-20deg);
}

.yellowBG{
    background-color: var(--yellow-color);
}

.orangeBG{
    background-color: var(--orange-color);
}

.pinkBG{
    background-color: var(--pink-color);
}

.purpleBG{
    background-color: var(--purple-color);
}

.greenBG{
    background-color: var(--green-color);
}

.blueBG{
    background-color: var(--blue-color);
}

.whiteBG{
    background-color: #ecf6f8;
}

.blackBG{
    background-color: #222;
}

.yellowText{
    color: var(--yellow-color);
}

.orangeText{
    color: var(--orange-color);
}

.pinkText{
    color: var(--pink-color);
}

.purpleText{
    color: var(--purple-color);
}

.greenText{
    color: var(--green-color);
}

.blueText{
    color: var(--blue-color);
}

.whiteText{
    color: #ecf6f8;
}

.orangeBorder{
    border: 2px solid var(--orange-color);
}

.linkButtonPadding{
    padding: 17px 30px;
}

.blackText{
    color: #222;
}

 #lessonsLink{
    border-bottom: 5px var(--yellow-color) solid;
 }

 #recordingLink{
    border-bottom: 5px var(--orange-color) solid;
 }

 #rehearsalLink{
    border-bottom: 5px var(--pink-color) solid;
 }

 #productsLink{
    border-bottom: 5px var(--purple-color) solid;
 }

 #ownerLink{
    border-bottom: 5px var(--green-color) solid;
 }

 #historyLink{
    border-bottom: 5px var(--blue-color) solid;
 }

 #backTopLink{
    border-bottom: 5px var(--blue-color) solid;
 }

 #scrollButtonContainer{
     margin-top: 100px;
    display: flex;
    justify-content: center;
}

#ownerMain{
    display: flex;
    justify-content: center;
    margin: 0px 40px;
}

#ownerTitle{
    font-family: Prompt;
}

#karlBioPic{
    flex-basis: 30%;
}

#karlBioPic img{
    border-radius: 15px;
}

.bioText{
    margin: 0px 20px;
    line-height: 1.6;
    font-family: Roboto;
}

.bioText p{
    margin-top: 0;
}

.bioText p span{
    font-family: Bangers;
    font-size: 20px;
    letter-spacing: 7px;
}

#ownerTitleContainer{

    background-color: var(--blue-color);
    width: 20%;
    text-align: center;
    transform: skewX(-20deg);
}

#ownerTitleContainer h1{
    transform: skewX(20deg);
}

#ownerSecondary{
    display: flex;
    justify-content: center;
    margin: 0px 40px;
}

#ownerEmailContainer{
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.sectionTitleText{
    font-family: Prompt;
    margin: 10px 20px;
    transform: skewX(20deg);
    font-size: 30px;
}

#ownerEmailTag{
    background-color: var(--green-color);
    width: 20%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

#mailAddress{
    font-family: Prompt;
    font-size: 30px;
    margin: 0;
}

#mailAddress h2{
    margin: 0;
}

#ownerAlbumTag{
    background-color: var(--purple-color);
    flex-basis: 30%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

#ownerAlbumTag h1{
    transform: skewX(20deg);
}

.creditText{
    margin: 0px 20px;
    line-height: 1.6;
    font-family: Roboto;
}

#ownerSoundtrackTag{
    background-color: var(--pink-color);
    flex-basis: 40%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

#ownerCreditsTag{
    background-color: var(--orange-color);
    flex-basis: 40%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

#ownerProductionTag{
    background-color: var(--blue-color);
    flex-basis: 40%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

#work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#bandCreditsContainer{
    display: flex;
    justify-content: space-evenly;
}

#ownerBooksTag{
    background-color: var(--green-color);
    flex-basis: 40%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

#ownerAffiliationsTag{
    background-color: var(--purple-color);
    flex-basis: 30%;
    text-align: center;
    transform: skewX(-20deg);
    margin-right:  30px;
}

.backUpButton{
    content: "\E006";
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    display: block;
    right: 2%;
    bottom: 2%;
    float : none;
    line-height: 12px;
    position: fixed;
    z-index: 14;
    border-radius: 50%;
    animation: buttonEaseIn 350ms;
}

.backUpButtonHide{
    display: none;
}

.backUpButton:hover{
    text-shadow: none;
    color: #ecf6f8;
    background-color: var(--orange-color);
}

.backUpButton:active{
    color: var(--orange-color);
    background-color: #ecf6f8;
    text-shadow: none;
}


footer{
    background-color: #2f2f2f;
}

footer nav{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 5px;
}

footer nav div{
    display: flex;
    flex-direction: column;
}

footer nav div a{
    margin: 5px;
}

#copyright{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:  #222;
}

#copyright p{
    margin: 0;
}

.scheduleLabel{
    background-color: var(--blue-color);
    color: #ecf6f8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 80px;
    font-family: Roboto; 
    text-transform: uppercase;
}

.date{
    font-family: prompt;
    text-transform: uppercase;
    background-color: var(--blue-color);
    color: #ecf6f8;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #ecf6f8;
    border-left: 2px solid #ecf6f8;
    min-width: 130px;
}

.dropbtn {
    background-color: var(--blue-color);
    color: #ecf6f8;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 80px;
  }
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #ecf6f8;
    border-left: 2px solid #ecf6f8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ecf6f8;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--blue-color);
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ecf6f8;
    cursor: pointer;
}

.dropdown:hover{
    border-bottom: 2px solid  var(--blue-color);
    border-left: 2px solid  var(--blue-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--white-color); 
    color: var(--blue-color);
}

#scheduleError{
    display: none;
}

@keyframes logoShadow{
	0%{
		text-shadow: 0 0 5px var(--blue-color),0 0 10px var(--blue-color),0 0 15px var(--blue-color),0 0 20px var(--blue-color),0 0 25px var(--blue-color),0 0 15px #000;
	}
	100%{
		text-shadow: 0 0 3px var(--blue-color),0 0 5px var(--blue-color),0 0 7px var(--blue-color),0 0 10px var(--blue-color),0 0 12px var(--blue-color),0 0 7px #000;
	}
}

@keyframes containerShadow{
	0%{
		box-shadow: 0 0 5px var(--blue-color),0 0 10px var(--blue-color),0 0 15px var(--blue-color),0 0 20px var(--blue-color),0 0 25px var(--blue-color),0 0 15px #000;
	}
	100%{
		box-shadow: 0 0 3px var(--blue-color),0 0 5px var(--blue-color),0 0 7px var(--blue-color),0 0 10px var(--blue-color),0 0 12px var(--blue-color),0 0 7px #000;
	}
}

@keyframes buttonEaseIn {
    from {
        bottom: -2%;
        opacity: 0;
    }
    to {
        opacity: 1.0;
        bottom: 2%;
    }
  }